.logo_image img {
  width: 162px;
  height: auto; }

.list-menu .menu-full {
  background: #80808017;
  border-radius: 12px;
  padding-top: 10px; }

.icon_toggle_button {
  opacity: .7; }
  .icon_toggle_button:hover {
    background: transparent; }

#toggle-button {
  left: 160px;
  top: -6px; }

.menu-left {
  background-image: url("./../../../../assets/images/giftly.png"); }

/*# sourceMappingURL=nav_left.css.map */
