<nav class="d-md-block sidebar menu-left d-flex align-content-center h-100 px-2 d-none" id="menuLeft">
            <div class="brands-kpmg d-block py-3 px-5">
               <div class="logo_image"><img src="./assets/images/logo.png" alt=""></div>
                <button class="navbar-toggle btn btn-outline-primary toggle-button" id="toggle-button"><i class="fas fa-bars icon_toggle_button normal"></i></button>
            </div>
            <div class="sidebar-sticky list-menu mt-5 pt-5">
                 <ul class="nav flex-column menu-full">
                <li class="nav-item m-2 active dashboard " (click)="resetMenu('.dashboard')">
                    <a class="nav-link  p-2 text-white" routerLink="dashboard">
                        <img src="./assets/images/menu/home_normal.png" #dashboard alt="" class="mr-3 col-2 p-0 icon-nav" data-link-normal="./assets/images/menu/home_normal.png" data-link-active="./assets/images/menu/home_click.png" >
                        Dashboard
                    </a>
                </li>
                <li class="nav-item m-2 staff" (click)="resetMenu('.staff')">
                    <a class="nav-link  p-2 text-white" routerLink="customer">
                    <img src="./assets/images/menu/staff_normal.png"  #staff alt="" class="mr-3 col-2 p-0 icon-nav"  data-link-normal="./assets/images/menu/staff_normal.png" data-link-active="./assets/images/menu/staff_click.png" >
                        Customer
                    </a>
                </li>
                  <!--<li class="nav-item m-2 fred" (click)="resetMenu('.fred')">-->
                      <!--<a class="nav-link  p-2 text-white" routerLink="ads/1">-->
                          <!--<img src="./assets/images/menu/fred_normal.png" #fred alt="" class="mr-3 col-2 p-0 icon-nav" data-link-normal="./assets/images/menu/fred_normal.png" data-link-active="./assets/images/menu/fred_click.png">-->
                          <!--Insight Ads-->
                      <!--</a>-->
                  <!--</li>-->
                <li class="nav-item m-2 setting" (click)="resetMenu('.setting')">
                    <a class="nav-link  p-2 text-white" routerLink="settings">
                        <img src="./assets/images/menu/setting_normal.png" #setting alt="" class="mr-3 col-2 p-0  icon-nav" data-link-normal="./assets/images/menu/setting_normal.png" data-link-active="./assets/images/menu/setting_click.png">
                        Ads Settings
                    </a>
                </li>
            </ul>
      </div>
</nav>
<nav class="d-md-block sidebar menu-left d-flex align-content-center h-100 px-2" id="menuLeft_responsive" style="width: 60px!important;">
            <div class="brands-kpmg d-block py-3 px-5">
                <button class="navbar-toggle btn btn-outline-primary toggle-button" ><i class="fas fa-bars icon_toggle_button"></i></button><br>
            </div>
            <div class="sidebar-sticky list-menu pt-5" style="transform: translate(-6px, 115px);">
                 <ul class="nav flex-column">
                <li class="nav-item m-2 active dashboard" (click)="resetMenu('.dashboard')">
                    <a class="nav-link  p-1 text-white text-center" routerLink="dashboard">
                        <img src="./assets/images/menu/home_normal.png" #dashboard alt="" class="mr-0 mt-1 col-12 p-0 icon-nav" data-link-normal="./assets/images/menu/home_normal.png" data-link-active="./assets/images/menu/home_click.png" >
                    </a>
                </li>
                <li class="nav-item m-2 staff" (click)="resetMenu('.staff')">
                    <a class="nav-link  p-1 text-white text-center" routerLink="customer">
                    <img src="./assets/images/menu/staff_normal.png"  #staff alt="" class="mr-0 mt-1 col-12 p-0 icon-nav"  data-link-normal="./assets/images/menu/staff_normal.png" data-link-active="./assets/images/menu/staff_click.png" >
                    </a>
                </li>
                <!--<li class="nav-item m-2 fred" (click)="resetMenu('.fred')">-->
                    <!--<a class="nav-link  p-1 text-white text-center" routerLink="ads">-->
                        <!--<img src="./assets/images/menu/fred_normal.png" #fred alt="" class="mr-0 mt-1 col-12 p-0 icon-nav" data-link-normal="./assets/images/menu/fred_normal.png" data-link-active="./assets/images/menu/fred_click.png">-->
                    <!--</a>-->
                <!--</li>-->
                <li class="nav-item m-2 setting" (click)="resetMenu('.setting')">
                    <a class="nav-link  p-1 text-white text-center" routerLink="settings">
                        <img src="./assets/images/menu/setting_normal.png" #setting alt="" class="mr-0 mt-1 col-12 p-0  icon-nav" data-link-normal="./assets/images/menu/setting_normal.png" data-link-active="./assets/images/menu/setting_click.png">
                    </a>
                </li>
            </ul>
      </div>
</nav>
