  <h1 class="title text-wheat" id="titlePage">Ads Settings</h1>
<!--End Acount User-->
 <!--content Top Search Profile-->
   <!--<app-search-profile class="invisible"></app-search-profile>-->
  <!--End content Top-->
 <!-- show content-->
 <app-setting-content></app-setting-content>
