@font-face {
  font-family: 'KPMG';
  src: url("./../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'KPMGBold';
  src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.modal-backdrop {
  background-color: #5566ff; }

a {
  color: #90959a; }

.bg-audit {
  background: #0191d8 !important; }

.bg-tax {
  background: #bc1f4a !important; }

.bg-advisory {
  background: #eaaa00 !important; }

.bg-centralsrv {
  background: #c3007b !important; }

html {
  height: 100%; }
  html body {
    font-family: KPMG !important;
    /*font-weight: 300;
    height: 100%;*/
    background: #f1f1f1;
    background-image: url("./../images/giftly.png");
    min-width: 1366px;
    overflow-x: scroll; }
    html body #menuLeft, html body #menuLeft_responsive {
      width: 210px;
      position: fixed;
      left: 0px;
      z-index: 1030;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      html body #menuLeft .brands-kpmg, html body #menuLeft_responsive .brands-kpmg {
        position: relative; }
        html body #menuLeft .brands-kpmg .name-brands, html body #menuLeft_responsive .brands-kpmg .name-brands {
          font-weight: bold;
          position: relative;
          font-size: 38px;
          font-family: KPMGBold; }
          html body #menuLeft .brands-kpmg .name-brands:hover, html body #menuLeft_responsive .brands-kpmg .name-brands:hover {
            text-decoration: none; }
          html body #menuLeft .brands-kpmg .name-brands:after, html body #menuLeft_responsive .brands-kpmg .name-brands:after {
            content: "";
            width: 21px;
            height: 3px;
            background: #ffffff;
            position: absolute;
            left: 35%;
            bottom: -5px;
            display: block; }
        html body #menuLeft .brands-kpmg .sologan-brands, html body #menuLeft_responsive .brands-kpmg .sologan-brands {
          text-transform: uppercase;
          font-size: 15px;
          word-spacing: 4px;
          margin-top: 8px; }
      html body #menuLeft .list-menu ul .nav-item, html body #menuLeft_responsive .list-menu ul .nav-item {
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer; }
        html body #menuLeft .list-menu ul .nav-item .icon-nav, html body #menuLeft_responsive .list-menu ul .nav-item .icon-nav {
          width: 24px !important;
          height: auto !important; }
        html body #menuLeft .list-menu ul .nav-item a, html body #menuLeft_responsive .list-menu ul .nav-item a {
          font-weight: bold; }
        html body #menuLeft .list-menu ul .nav-item:hover, html body #menuLeft .list-menu ul .nav-item.active, html body #menuLeft_responsive .list-menu ul .nav-item:hover, html body #menuLeft_responsive .list-menu ul .nav-item.active {
          background: #ffffff;
          border-radius: 5px; }
          html body #menuLeft .list-menu ul .nav-item:hover a, html body #menuLeft .list-menu ul .nav-item.active a, html body #menuLeft_responsive .list-menu ul .nav-item:hover a, html body #menuLeft_responsive .list-menu ul .nav-item.active a {
            color: #4a494a !important;
            font-size: 14px; }
          html body #menuLeft .list-menu ul .nav-item:hover i, html body #menuLeft .list-menu ul .nav-item.active i, html body #menuLeft_responsive .list-menu ul .nav-item:hover i, html body #menuLeft_responsive .list-menu ul .nav-item.active i {
            color: #b2b2b2; }
    html body #menuLeft_responsive {
      width: 60px !important;
      left: -61px; }
      html body #menuLeft_responsive .brands-kpmg .name_brand {
        font-size: 17px;
        font-family: KPMGBold;
        display: block;
        transform: translate(-45px, 18px); }
      html body #menuLeft_responsive .nav-item {
        height: 39px;
        margin-bottom: 7px !important;
        width: 39px;
        border-radius: 50% !important; }
    html body .navbar-toggle {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 24px;
      cursor: pointer;
      color: white !important;
      border-color: transparent;
      transition: .5s; }
      html body .navbar-toggle:hover {
        background: transparent !important;
        border-color: #f05A29 !important; }
    html body #menuLeft.toggle-menu {
      left: -210px; }
      html body #menuLeft.toggle-menu #toggle-button {
        left: 0; }
      html body #menuLeft.toggle-menu .navbar-toggle {
        right: -52px;
        color: #186bc3 !important; }
    html body #menuLeft_responsive.toggle-menu {
      left: 0px; }
    html body #content-right {
      margin-left: 240px;
      min-width: 1050px;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      html body #content-right .acount-user a {
        font-size: 13px;
        cursor: pointer;
        margin-right: 35px;
        font-weight: bold; }
        html body #content-right .acount-user a:hover {
          color: #f05A29; }
        html body #content-right .acount-user a i {
          font-size: 18px; }
      html body #content-right .title {
        color: #505050;
        font-size: 40px; }
      html body #content-right .content-top {
        z-index: 9;
        position: relative; }
        html body #content-right .content-top .search-btn #icon-search {
          cursor: pointer;
          transform: translateY(12px);
          font-size: 20px; }
        html body #content-right .content-top #multi-select {
          background: #80808017;
          border-radius: 20px; }
          html body #content-right .content-top #multi-select .menu .item {
            font-size: 16px; }
      html body #content-right .show-content-right .nav-tabs {
        position: relative; }
        html body #content-right .show-content-right .nav-tabs .nav-item {
          border: none; }
          html body #content-right .show-content-right .nav-tabs .nav-item .nav-link {
            padding: 8px 75px;
            font-weight: bold;
            position: relative; }
            html body #content-right .show-content-right .nav-tabs .nav-item .nav-link:hover {
              color: #90959a;
              border-bottom: 3px solid #f05A29; }
            html body #content-right .show-content-right .nav-tabs .nav-item .nav-link #resfeshDashBoard {
              position: absolute;
              top: 0;
              right: 19px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              width: 35px;
              height: 35px;
              border: none; }
              html body #content-right .show-content-right .nav-tabs .nav-item .nav-link #resfeshDashBoard:hover {
                background: #f5f5f5 !important; }
                html body #content-right .show-content-right .nav-tabs .nav-item .nav-link #resfeshDashBoard:hover i {
                  color: #f05A29; }
              html body #content-right .show-content-right .nav-tabs .nav-item .nav-link #resfeshDashBoard i {
                font-size: 20px;
                transform: translate(-2px, 2px);
                color: #afaeae; }
            html body #content-right .show-content-right .nav-tabs .nav-item .nav-link :hover {
              font-weight: bold !important; }
          html body #content-right .show-content-right .nav-tabs .nav-item .nav-link.active {
            background: transparent !important;
            border-color: transparent;
            border-bottom: 3px solid #f05A29;
            font-weight: bold;
            color: #f05A29; }
            html body #content-right .show-content-right .nav-tabs .nav-item .nav-link.active #resfeshDashBoard i {
              color: #f05A29; }
      html body #content-right .show-content-right .tab-content {
        background: #ffffff; }
        html body #content-right .show-content-right .tab-content .tab-pane .current-report {
          position: relative;
          border-radius: 30px !important;
          z-index: 8 !important;
          background: #ffffff;
          font-weight: bold; }
          html body #content-right .show-content-right .tab-content .tab-pane .current-report i {
            cursor: pointer; }
        html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group {
          position: relative;
          z-index: 999; }
          html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom {
            width: 50px !important;
            position: absolute;
            right: 20px;
            top: 0; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .size-map {
              width: 35px; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .maximise {
              border-bottom: 0px;
              position: relative; }
              html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .maximise:after {
                content: '';
                height: 1px;
                width: 75%;
                background: grey;
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -1px; }
            html body #content-right .show-content-right .tab-content .tab-pane .btn-zoom-group .btn-zoom .minimise {
              border-top: 0px; }
        html body #content-right .show-content-right .tab-content .tab-pane .map {
          height: 500px; }
          html body #content-right .show-content-right .tab-content .tab-pane .map::-webkit-scrollbar {
            display: none; }
          html body #content-right .show-content-right .tab-content .tab-pane .map #map-office {
            z-index: 0 !important; }
          html body #content-right .show-content-right .tab-content .tab-pane .map .avatar {
            z-index: 1 !important;
            position: relative;
            border: 2px solid red; }

.ui.multiple.dropdown > .label {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  font-size: 14px;
  color: white;
  margin-right: 18px;
  min-width: 169px;
  position: relative;
  padding: 10px 25px; }

i.icon.delete:before {
  content: url("./../images/icon/close.png") !important; }

.sidenav {
  height: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
  z-index: 10001;
  box-shadow: 0px 0px 30px 0px grey;
  font-family: KPMGBold; }
  .sidenav::-webkit-scrollbar {
    width: 5px; }
  .sidenav .sideBarSearch .fas {
    font-size: 21px;
    cursor: pointer; }
  .sidenav .sideBarSearch .closebtn {
    font-size: 40px;
    font-family: KPMG !important; }
  .sidenav .member-infor-detail .avatar {
    border: 2px solid red;
    width: 80px;
    height: 80px; }
  .sidenav .member-infor-detail .more-detail .title-profile {
    font-size: 13px; }
  .sidenav .member-infor-detail .more-detail .name {
    color: #6a6a6a;
    font-size: 22px; }
  .sidenav .member-infor-detail .more-detail .position {
    color: #939393;
    font-size: 11px; }
  .sidenav .member-infor-detail .more-detail .sub-name {
    color: #6c757d8f;
    font-size: 11px !important;
    font-weight: bold;
    font-family: KPMG !important; }
  .sidenav .title {
    display: inline-block;
    text-align: center;
    font-size: 1em !important;
    width: 90px; }
  .sidenav .dob {
    color: #676767;
    border-top: 2px solid #cabebe6b;
    border-bottom: 2px solid #cabebe6b;
    font-size: 15px; }
  .sidenav .contact {
    color: #676767;
    font-size: 15px;
    border-bottom: 2px solid #cabebe6b; }
  .sidenav .top-favorite .favarite-title {
    font-weight: bold;
    font-size: 17px; }
  .sidenav .top-favorite .title {
    text-align: left;
    font-size: 13px !important; }
  .sidenav .top-favorite .progress-bar {
    height: 9px;
    border-radius: 20px; }
  .sidenav .top-favorite .number-percent {
    color: #b7204d; }
  .sidenav .btn-email {
    background: #e67787;
    margin-top: 3em;
    color: white;
    font-size: 25px;
    border-radius: 15px; }
  .sidenav .more-detail-lg {
    text-align: right;
    cursor: pointer;
    color: #90959a; }
    .sidenav .more-detail-lg img {
      cursor: pointer; }
  .sidenav .total-profile .one-profile .title-profile {
    font-size: 18px;
    font-weight: bold; }
  .sidenav .total-profile .one-profile .list-group .list-group-item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    float: left; }
  .sidenav .total-profile .one-profile .list-group .list-group-item:first-child {
    border-top: 0px solid #ffffff; }
  .sidenav .total-profile .one-profile .list-group .list-group-item:last-child {
    border-bottom: 1px solid #8080803d; }

.detail-member .modal-dialog .modal-content {
  height: 800px !important;
  overflow: hidden;
  border-radius: 15px !important; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .avatar {
    border: 3px solid red;
    width: 80px !important;
    height: 80px !important; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .name {
    font-size: 25px;
    color: #6a6a6a; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .position {
    color: #939393;
    font-size: 13px; }
  .detail-member .modal-dialog .modal-content .left .member-infor-detail .more-detail .sub-name {
    font-size: 12px;
    font-family: KPMG !important; }
  .detail-member .modal-dialog .modal-content .left .title {
    width: 30%;
    display: inline-block;
    text-align: right;
    float: left; }
  .detail-member .modal-dialog .modal-content .left .dob {
    color: #676767;
    border-top: 2px solid #cabebe6b;
    border-bottom: 2px solid #cabebe6b; }
  .detail-member .modal-dialog .modal-content .left .contact {
    color: #676767;
    border-bottom: 2px solid #cabebe6b; }
    .detail-member .modal-dialog .modal-content .left .contact .list-number .number {
      font-size: 16px; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .favarite-title {
    font-size: 18px;
    font-weight: bold; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .title {
    text-align: left;
    width: 42%; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .progress-bar {
    width: 40px;
    height: 9px;
    border-radius: 20px; }
  .detail-member .modal-dialog .modal-content .left .top-favorite .number-percent {
    color: #b7204d; }
  .detail-member .modal-dialog .modal-content .left .btn-email {
    background: #e67787;
    margin-top: 85px;
    color: white;
    font-size: 18px;
    border-radius: 15px; }
  .detail-member .modal-dialog .modal-content .right {
    padding-bottom: 20px;
    overflow-y: scroll;
    height: 90% !important; }
    .detail-member .modal-dialog .modal-content .right table thead th {
      border-top: 0px !important;
      cursor: pointer; }
    .detail-member .modal-dialog .modal-content .right table tbody {
      height: 500px;
      overflow-y: scroll; }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.chat .icon-chat {
  cursor: pointer !important;
  transform: translateY(-11px); }

#chat-box {
  box-shadow: 1px 1px 9px 1px #888888;
  max-width: 400px !important;
  width: 400px;
  height: 587px;
  right: -410px;
  top: unset;
  bottom: 80px;
  padding: 0 !important; }
  #chat-box .chat {
    position: relative; }
    #chat-box .chat img {
      cursor: pointer !important; }
    #chat-box .chat .title-chat {
      padding: 18px; }
      #chat-box .chat .title-chat .title-name {
        font-size: 20px; }
    #chat-box .chat .rules {
      position: absolute;
      text-transform: uppercase;
      top: 71px;
      right: 25px;
      color: #90959a;
      font-size: 14px;
      cursor: pointer;
      z-index: 100001;
      font-family: KPMG;
      font-weight: bold; }
      #chat-box .chat .rules i {
        font-size: 16px; }
    #chat-box .chat .area-chat {
      margin-top: 49px;
      position: relative;
      height: 73%;
      overflow-y: scroll;
      margin-bottom: 5px; }
      #chat-box .chat .area-chat .example-chat {
        left: 14px;
        bottom: 10px;
        margin-top: 12px;
        font-family: KPMG !important;
        font-weight: bold; }
        #chat-box .chat .area-chat .example-chat img {
          width: 30px !important;
          height: 30px !important; }
        #chat-box .chat .area-chat .example-chat .text {
          font-size: 14px; }
    #chat-box .chat .input-chat .chats {
      width: 77%;
      height: 35px;
      border-color: #90959a33;
      font-family: KPMG !important; }
    #chat-box .chat .input-chat img {
      cursor: pointer; }

#moreDetailInforMember .title {
  font-size: 22px !important; }
#moreDetailInforMember .title-profile {
  font-size: 1.3rem; }
#moreDetailInforMember td {
  font-family: KPMG;
  font-weight: bold; }

.rules-box .modal-dialog {
  max-width: 60% !important;
  min-width: 1366px; }
  .rules-box .modal-dialog .modal-content {
    position: relative; }
    .rules-box .modal-dialog .modal-content .title {
      font-size: 30px;
      color: #90959a; }
    .rules-box .modal-dialog .modal-content .list-rule {
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
      font-family: KPMG;
      font-weight: bold; }
      .rules-box .modal-dialog .modal-content .list-rule table {
        color: #90959a; }
        .rules-box .modal-dialog .modal-content .list-rule table thead th {
          border-top: 0px !important;
          font-family: KPMGBold !important; }
    .rules-box .modal-dialog .modal-content .modal-body .back {
      cursor: pointer; }
  .rules-box .modal-dialog .btn-create-rule, .rules-box .modal-dialog .btn-add {
    position: absolute;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .rules-box .modal-dialog .btn-add {
    bottom: 50%;
    left: 80%; }

.delete.icon {
  position: absolute;
  right: 13px; }

.btn-create-rule {
  padding: 10px 15% !important;
  border-radius: 10px; }

.form-create {
  padding: 10px 10px 30px 10px;
  border: 1px solid #efefef;
  margin: 25px 10% 25px 5%; }

#inlineFormCustomSelect {
  margin-right: 5% !important; }

.rules-box .modal-dialog .btn-add {
  bottom: 27%;
  left: 85%;
  border-radius: 10px; }

.btn-wip {
  background: #bc204b;
  color: white;
  font-weight: bold; }

#modalbox-rules .title {
  width: 200px;
  font-size: 30px !important;
  font-weight: bold; }

#rules-informaition {
  display: inline !important;
  width: 100%;
  font-size: 1.5rem !important; }

/*nam*/
/*staff*/
html body #menuLeft .brands-kpmg .name-brands {
  font-size: 20px !important; }

#myTabContent {
  height: 100% !important; }

html body #menuLeft .brands-kpmg .sologan-brands {
  font-size: 11px;
  margin: 11px 0 0 6px !important;
  word-spacing: normal;
  font-weight: bold;
  letter-spacing: 0.16px; }

html body #content-right .title {
  margin-bottom: 13px; }

#content-right {
  padding-right: 10px !important; }

.dot {
  margin-right: 2%;
  width: .75em;
  height: .75em; }

/*feed*/
#external {
  position: relative; }
  #external .external-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.button_addfeed {
  width: 180px;
  border: 2px solid #dad6d6 !important;
  color: #999999 !important;
  font-weight: bold; }

/*setting*/
.btn-edit, .btn-delete, .btn-update {
  margin-right: 5px;
  border-width: 2px; }

.btn-edit {
  border-color: #81b5ec; }

.btn-delete {
  border-color: #e49ba2; }

#rules {
  overflow: auto !important; }

/*menu left*/
.list-menu .nav-item {
  height: 40px; }

#start_day, #end_day, #date_start_update, #date_end_update, #start_time, #end_time, #time_start_update, #time_end_update, #time_start, #time_end, #date_start_info, #date_end_info, #date_start_info_update, #date_end_info_update {
  border: none !important; }

#time_end_ruleFeedInfo, #time_start_ruleFeedInfo, #end_day_ruleFeedInfo, #start_day_ruleFeedInfo {
  border: none !important; }

.bold {
  font-weight: bold !important; }

#moreDetailInforMemberCurrent .title {
  font-size: 17px !important; }
#moreDetailInforMemberCurrent .title-profile {
  font-size: 1.3rem; }
#moreDetailInforMemberCurrent .sub-name {
  corlor: #90959a;
  font-family: KPMG !important; }
#moreDetailInforMemberCurrent td {
  font-family: KPMG !important; }

#moreDetailInforMemberStaff .modal-dialog, #moreDetailInforMember .modal-dialog, #moreDetailInforMemberCurrent .modal-dialog {
  min-width: 978px; }
#moreDetailInforMemberStaff .title, #moreDetailInforMember .title, #moreDetailInforMemberCurrent .title {
  font-size: 18px !important; }
#moreDetailInforMemberStaff .dateofbirth, #moreDetailInforMember .dateofbirth, #moreDetailInforMemberCurrent .dateofbirth {
  font-size: 17px; }
#moreDetailInforMemberStaff .sub-name, #moreDetailInforMember .sub-name, #moreDetailInforMemberCurrent .sub-name {
  color: #90959a;
  font-family: KPMG !important; }
#moreDetailInforMemberStaff th, #moreDetailInforMember th, #moreDetailInforMemberCurrent th {
  font-family: KPMGBold; }
#moreDetailInforMemberStaff .top-favorite .each-favorite .title, #moreDetailInforMember .top-favorite .each-favorite .title, #moreDetailInforMemberCurrent .top-favorite .each-favorite .title {
  font-size: 14px !important; }

#table th {
  font-family: KPMGBold; }
#table tr td {
  font-weight: bold; }
  #table tr td:first-child {
    cursor: pointer;
    display: flex !important;
    align-items: center !important; }
  #table tr td:nth-child(6) {
    opacity: 0;
    padding-top: 17px; }
  #table tr td:nth-child(5) {
    font-weight: bold;
    text-transform: capitalize !important; }
  #table tr td .line {
    width: 5px;
    height: 61px !important;
    float: left;
    transform: translate(-10px, -5px); }
#table tr:hover td:last-child {
  opacity: 1 !important; }

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
  border: none;
  font-family: KPMGBold; }

.log_infor tr td {
  font-weight: bold; }

#tag-setting .ui.multiple.dropdown {
  width: 100% !important;
  display: block; }
  #tag-setting .ui.multiple.dropdown .label {
    min-width: auto !important;
    padding: 4px 10px;
    color: white;
    font-size: 17px;
    font-weight: normal;
    background: #3c8dbc;
    padding-right: 22px !important; }
    #tag-setting .ui.multiple.dropdown .label i.icon.delete {
      right: 5px;
      top: 4px; }
      #tag-setting .ui.multiple.dropdown .label i.icon.delete:before {
        content: url("./../images/icon/close.png") !important; }

.fontsize-panel {
  font-size: 16px !important;
  font-family: KPMGBold; }

.fc-left {
  display: flex;
  align-items: center !important; }

.fc-left h2 {
  font-size: 15px !important;
  font-family: KPMG !important;
  text-transform: uppercase; }

.month {
  font-size: 16px !important;
  font-family: KPMG !important;
  text-transform: uppercase; }

.style-phol::placeholder {
  color: #a7a9ab; }

.color-fredrules {
  color: #485063; }

.color-table {
  color: #4c587a; }

.font-KPMGBold {
  font-family: KPMGBold; }

.table td, .table th {
  border-top: none; }

.btn-addSetting {
  background: #e36877 !important;
  border-color: #e36877;
  border-radius: 7px !important;
  color: white; }

.content-table[_ngcontent-c4] {
  overflow-y: scroll !important;
  position: relative; }

.content-table {
  position: relative;
  height: 725px;
  background: white; }

.navigation-table-content[_ngcontent-c4] {
  z-index: 0 !important; }

.navigation-table-content {
  position: absolute;
  z-index: 100;
  display: block;
  bottom: 25px !important;
  right: 45px !important; }

table.dataTable thead .sorting {
  background: transparent !important; }

table.dataTable thead .sorting_asc {
  background: transparent !important; }

table.dataTable thead .sorting_desc {
  background: transparent !important; }

.dataTables_info {
  display: none !important; }

table.dataTable thead th {
  border-bottom: 2px solid #dee2e6 !important; }

table.dataTable.no-footer {
  border-bottom: 1px solid transparent !important; }

.dataTables_filter {
  display: none !important; }

.dataTables_length {
  display: none; }

#content-table {
  overflow-y: scroll; }

.person_image {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important; }

.function-apend, .function-apend1, .function-apend2 {
  margin-bottom: 33px !important;
  font-weight: bold;
  font-family: KPMGBold;
  margin-top: 1% !important; }

#modal-updateFeed .blah0 {
  width: 270px;
  height: 180px; }

.border--icon {
  background-image: url("./../images/icon/ico_bar.png");
  background-color: white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 64%;
  min-width: 8vw; }

.box--2--txt {
  margin-left: 9%;
  margin-top: 8% !important;
  font-size: 1em;
  text-align: center;
  min-width: 13vw;
  font-family: KPMG; }

.box--2--num {
  font-size: 6em;
  margin-top: -12%;
  text-align: center; }

.chart3--box {
  background-color: red !important;
  margin-top: 4%; }

.bold-letter {
  font-weight: bold;
  font-family: KPMGBold !important; }

.carousel-control-prev > .left {
  display: none; }

#list-profile, .btn-email {
  font-family: KPMG !important; }

.number-percent {
  font-size: 17px !important; }

#member-detail .contact-detail .title {
  font-size: 17px !important; }

#moreDetailInforMember .contact-detail .title {
  font-size: 17px !important; }

.modal-title {
  font-size: 22px; }

.modal-body {
  color: #90959a;
  font-family: KPMGBold; }

.title-chat {
  font-family: KPMG;
  font-weight: bold; }

.log_inforlog_infor tr td {
  padding: 17px !important;
  font-family: KPMG;
  font-weight: bold; }

.pagination {
  display: none !important; }

.ic_prev:hover, .ic_next:hover {
  color: #eb2d89 !important; }

.th_action:after, .th_action:before {
  content: '' !important; }

.navigation-table-content {
  font-family: KPMG;
  font-weight: bold; }

#modalbox-email-header, #modalbox-email-header-current {
  position: relative; }
  #modalbox-email-header button.close, #modalbox-email-header-current button.close {
    position: absolute;
    right: 23px; }

#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  background-color: white;
  border-radius: 5px;
  width: 295px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
  padding: 5px; }

#content_icon {
  height: 230px;
  width: 295px;
  overflow: auto; }

#btn_icon, #btn_icon_addFeed {
  width: 26px;
  height: 26px;
  background: url("./../images/img_emoji/icon_basic.png") no-repeat;
  background-size: 25px;
  cursor: pointer;
  border: none;
  position: absolute;
  z-index: 999; }

.emoji_btn {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  margin: 1px;
  padding: 3px;
  background-size: 23px !important;
  cursor: pointer;
  margin: 3px; }

.img_emoji {
  width: 24px;
  height: 24px; }

#emoji_box_addFeed, #emoji_box_updateFeed {
  transform: translate(-260px, 29px);
  z-index: 10;
  position: relative; }

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  border: 1px solid;
  font-family: KPMG;
  padding: 10px; }

#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  position: absolute;
  z-index: 10; }

#content_chat[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; }

#content_chat[placeholder]:empty:focus:before {
  content: ""; }

#content_chat_update[placeholder]:empty:focus:before {
  content: ""; }

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  --moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  height: 110px;
  overflow: auto;
  padding: 2px;
  resize: both;
  border-radius: 5px;
  border-color: #ced4da; }

.emoji-mart, .emoji-mart-addFeed, .emoji-mart-updateFeed {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border: none;
  background: none;
  margin: 6px;
  background-image: url("./../images/list_emoji.png");
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%; }

.icon_emoji {
  background-image: url("./../images/list_emoji.png");
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%;
  /*background-position: 58.8235% 54.902%;*/ }

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 270px;
  width: 355px;
  padding: 0 6px 6px 6px;
  will-change: transform; }

@media only screen and (max-width: 1367px) {
  .border--icon {
    min-width: 8vw;
    margin: 4vh 0vw 4vh 0vw !important; }

  .height--box {
    max-height: 22vh; }

  .chart--footer {
    width: 96% !important; }

  .box--2--num {
    font-size: 5.3em; } }
@media only screen and (max-width: 1522px) and (min-width: 1367px) {
  .border--icon {
    min-width: 8.5vw;
    margin: 7vh 0vw 7vh 0vw !important; }

  .chart--footer {
    width: 96% !important; } }
.btn-mail-infor {
  padding: 5px 32px !important;
  font-size: 18px !important; }

.log_table.dataTable tbody td {
  padding: 14px 10px !important; }

.item_list {
  cursor: pointer; }

#content-right.toggle-menu {
  margin-left: 63px; }

#navigation_yitu {
  bottom: 35px !important;
  right: 80px !important; }

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d9d9d9 !important; }

#modalAddFeedInformation .form-create {
  border: none; }
  #modalAddFeedInformation .form-create input, #modalAddFeedInformation .form-create textarea {
    font-family: KPMG;
    font-size: 19px; }
  #modalAddFeedInformation .form-create .wrapper-content {
    border: 1px solid #90959a4a; }
  #modalAddFeedInformation .form-create #img_file_info {
    width: 200px !important;
    height: auto !important; }
  #modalAddFeedInformation .form-create #plus_imgex {
    margin: 23px auto !important;
    cursor: pointer; }
  #modalAddFeedInformation .form-create #add_image {
    border: 1px dashed #90959a; }
#modalAddFeedInformation .btn-add {
  bottom: 7%; }

.btn_update_feedInfo {
  bottom: 16% !important; }

#img_file_info_update {
  height: 120px !important;
  width: auto; }

#live {
  min-height: 725px !important; }

#rules-informaition_update {
  width: 300px; }

.logScroll {
  height: 500px;
  overflow-y: scroll; }

.swal-overlay {
  z-index: 10002 !important; }

.box--1--txt {
  font-family: KPMG; }

.groupFormFeedInfo {
  border: 1px dashed #90959a; }

.h-200 {
  height: 200px !important; }

.ap-layout-popup {
  z-index: 1000000000 !important; }

#modal-addPromo .modal-header .modal-title {
  color: grey;
  font-size: 21px; }
#modal-addPromo .carousel-item {
  justify-content: center;
  height: 407px; }
  #modal-addPromo .carousel-item .content-promo {
    height: 470px;
    width: 100%; }
    #modal-addPromo .carousel-item .content-promo .content-item {
      height: 360px;
      width: 30%; }
  #modal-addPromo .carousel-item .content-promo--01 .content-item {
    cursor: pointer;
    position: relative; }
    #modal-addPromo .carousel-item .content-promo--01 .content-item:hover::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border: 6px solid #f05A29;
      width: 100%; }
    #modal-addPromo .carousel-item .content-promo--01 .content-item.active::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 6px solid #f05A29; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .choose_radio, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .choose_radio {
    height: 19px;
    width: 19px;
    display: inherit;
    float: left; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .choose_gradient .gradient_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .choose_gradient .gradient_item {
    width: 30px;
    height: 30px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .choose_gradient .gradient_item.active, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .choose_gradient .gradient_item.active {
      border: 2px solid #f05A29; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .input_content_layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .input_content_layout {
    padding-left: 8px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template {
      width: 91%;
      height: 290px;
      border-radius: 4px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader {
        background: #ffffff; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input {
          height: auto;
          white-space: unset; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .button_apply, #modal-addPromo .carousel-item .content-promo--03 .template_demo_01 .custom-file-promo .input_content_layout .group_content_template .right .button_apply {
        transform: translate(243px, 8px); }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo, #modal-addPromo .carousel-item .content-promo--03 .template_demo {
    overflow: hidden;
    background: url("./../images/templates/Template01_demo.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo .top, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom {
      width: 150%;
      height: 52%;
      transform: rotate(-9deg);
      transform-origin: 0 100%;
      position: relative;
      overflow: hidden; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout {
        width: 230px;
        height: 243px;
        position: absolute;
        transform: rotate(9deg);
        top: 13px;
        left: 18px; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item {
          position: relative;
          width: 100%;
          height: 100%;
          cursor: pointer; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item .top_header, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item .top_header, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item .top_header, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item .top_header {
            width: 100%;
            position: absolute;
            bottom: 50px;
            right: -46px;
            z-index: 2; }
            #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item .top_header .text_header, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item .top_header .text_header, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item .top_header .text_header, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item .top_header .text_header {
              width: 61%;
              font-size: 14px;
              font-family: KPMG;
              font-weight: bold; }
            #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item .top_header .arrow_item, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item .top_header .arrow_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item .top_header .arrow_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item .top_header .arrow_item {
              width: 30px;
              height: 30px;
              background: #ca6565;
              border-radius: 50%; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item .image, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item .image, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item .image, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item .image {
            width: 100%;
            height: 100%; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .top_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .top_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .top_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .top_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .bottom_teplate {
            width: 100%;
            height: 11px;
            background: #0f56d0;
            position: absolute;
            top: 7px;
            left: 0;
            transform: rotate(0deg);
            z-index: 3; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .bottom_teplate {
            top: 207px;
            transform: rotate(-9deg);
            z-index: 3; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .left_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .left_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .left_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .left_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .right_teplate {
            width: 12px;
            height: 100%;
            background: #0f56d0;
            position: absolute;
            top: 0;
            left: 0px;
            z-index: 3; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo .top .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .top .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .right_teplate {
            left: 215px;
            z-index: 3; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom {
      transform: rotate(-9deg);
      transform-origin: 0;
      height: 150%;
      margin-top: 5px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout {
        top: -23px;
        left: 42px;
        height: 219px; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item .top_header, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item .top_header {
          bottom: 19px;
          right: -19px; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .top_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .top_teplate {
          transform: rotate(-9deg);
          top: 21px;
          z-index: 3; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .right_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .right_teplate {
          left: 214px;
          z-index: 3; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .left_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .left_teplate {
          left: -1px;
          z-index: 3; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo .bottom .layout .group_item.active .bottom_teplate, #modal-addPromo .carousel-item .content-promo--03 .template_demo .bottom .layout .group_item.active .bottom_teplate {
          transform: rotate(0deg);
          top: 209px;
          z-index: 3; }
  #modal-addPromo .carousel-item .content-promo--02 .content-item, #modal-addPromo .carousel-item .content-promo--03 .content-item {
    height: 442px; }
  #modal-addPromo .carousel-item .content-promo--02 .label, #modal-addPromo .carousel-item .content-promo--03 .label {
    font-size: 13px;
    color: #352f2fc4; }
  #modal-addPromo .carousel-item .content-promo--02 .img, #modal-addPromo .carousel-item .content-promo--03 .img {
    padding-left: 8px; }
    #modal-addPromo .carousel-item .content-promo--02 .img #lable-file-promo, #modal-addPromo .carousel-item .content-promo--02 .img #lable-file-promo-bottom, #modal-addPromo .carousel-item .content-promo--03 .img #lable-file-promo, #modal-addPromo .carousel-item .content-promo--03 .img #lable-file-promo-bottom {
      z-index: 10;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 76%;
      border-radius: .25rem !important;
      color: #90959a; }
      #modal-addPromo .carousel-item .content-promo--02 .img #lable-file-promo::after, #modal-addPromo .carousel-item .content-promo--02 .img #lable-file-promo-bottom::after, #modal-addPromo .carousel-item .content-promo--03 .img #lable-file-promo::after, #modal-addPromo .carousel-item .content-promo--03 .img #lable-file-promo-bottom::after {
        content: '';
        height: 0;
        padding: 0; }
    #modal-addPromo .carousel-item .content-promo--02 .img .button-file-promo, #modal-addPromo .carousel-item .content-promo--03 .img .button-file-promo {
      border: 1px solid #ced4da;
      color: #90959a; }
    #modal-addPromo .carousel-item .content-promo--02 .img .note, #modal-addPromo .carousel-item .content-promo--03 .img .note {
      font-size: 12px;
      position: relative;
      font-family: KPMG;
      font-weight: bold;
      cursor: pointer; }
      #modal-addPromo .carousel-item .content-promo--02 .img .note .click_note, #modal-addPromo .carousel-item .content-promo--03 .img .note .click_note {
        cursor: pointer; }
      #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note {
        width: 384px;
        height: 385px;
        background: #ffffff;
        position: fixed;
        box-shadow: -4px 3px 22px 6px rgba(4, 4, 4, 0.22), 0px 1px 1px 2px rgba(0, 0, 0, 0.31);
        left: 333px;
        top: 71px;
        z-index: 10; }
        #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .text .text-bold, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .text .text-bold {
          font-family: KPMGBold; }
        #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image {
          position: relative;
          width: 250px;
          height: 249px;
          margin-top: 36px; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_width, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_width {
            width: 97%;
            height: 2px;
            background-color: #dc3545 !important;
            position: absolute;
            top: -11px; }
            #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_width::before, #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_width::after, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_width::before, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_width::after {
              content: '';
              height: 10px;
              width: 2px;
              background: #dc3545 !important;
              display: block;
              top: -4px;
              position: relative; }
            #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_width::after, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_width::after {
              left: 100%;
              top: -14px; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .text_width, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .text_width {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            top: -32px;
            font-family: KPMGBold; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .text_height, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .text_height {
            position: absolute;
            font-family: KPMGBold;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%;
            right: -70px; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_height, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_height {
            height: 99%;
            width: 2px;
            background-color: #dc3545 !important;
            position: absolute;
            right: -13px; }
            #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_height::before, #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_height::after, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_height::before, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_height::after {
              content: '';
              width: 10px;
              height: 2px;
              background: #dc3545 !important;
              display: block;
              top: 0px;
              right: -50%;
              transform: translateX(-50%);
              position: relative; }
            #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .size_height::after, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .size_height::after {
              top: 99%; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .example_image .img_examples, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .example_image .img_examples {
            width: auto;
            height: 282px;
            position: absolute;
            top: -31px;
            left: 0; }
        #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .download_example .link_download, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .download_example .link_download {
          color: #4183c4;
          font-family: KPMGBold; }
          #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note .download_example .link_download i, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note .download_example .link_download i {
            font-size: 14px; }
        #modal-addPromo .carousel-item .content-promo--02 .img .note .content-note#content-note_03, #modal-addPromo .carousel-item .content-promo--03 .img .note .content-note#content-note_03 {
          top: 144px; }
  #modal-addPromo .carousel-item .content-promo--02 .choose_gradient, #modal-addPromo .carousel-item .content-promo--03 .choose_gradient {
    padding-left: 8px; }
    #modal-addPromo .carousel-item .content-promo--02 .choose_gradient .group_gradient, #modal-addPromo .carousel-item .content-promo--03 .choose_gradient .group_gradient {
      width: 100%; }
      #modal-addPromo .carousel-item .content-promo--02 .choose_gradient .group_gradient .gradient_item, #modal-addPromo .carousel-item .content-promo--03 .choose_gradient .group_gradient .gradient_item {
        width: 25px;
        height: 25px;
        cursor: pointer; }
  #modal-addPromo .carousel-item .content-promo--02 .group_content_template, #modal-addPromo .carousel-item .content-promo--03 .group_content_template {
    padding-left: 8px;
    width: 100%;
    height: 185px;
    background: #cccccc4f; }
    #modal-addPromo .carousel-item .content-promo--02 .group_content_template .input_topheader, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .input_topheader {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 98%;
      height: 34px;
      border: 1px solid #cccccc;
      border-radius: .25rem !important;
      float: left;
      background: #f6f6f6;
      padding-left: 9px; }
    #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color {
      position: relative;
      width: 19%;
      height: 34px;
      border-radius: 4px;
      background: gainsboro;
      border: 1px solid #cccccc;
      background: #f6f6f6; }
      #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color .text_color_promo, #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color .text_color_promo_bottom, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color .text_color_promo, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color .text_color_promo_bottom {
        height: 100%;
        width: 45%;
        display: inline-block;
        cursor: pointer;
        border: 1px solid #cccccc; }
        #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color .text_color_promo.active, #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color .text_color_promo_bottom.active, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color .text_color_promo.active, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color .text_color_promo_bottom.active {
          border: 3px solid #2775fc; }
      #modal-addPromo .carousel-item .content-promo--02 .group_content_template .pick_text_color::before, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .pick_text_color::before {
        content: 'Text Color';
        display: block;
        font-family: KPMG;
        font-size: 12px;
        text-transform: capitalize;
        position: absolute;
        top: -21px;
        font-weight: bold;
        color: black;
        left: 0px; }
    #modal-addPromo .carousel-item .content-promo--02 .group_content_template .icon_direction .arrow_item, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .icon_direction .arrow_item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: gainsboro;
      float: left;
      cursor: pointer; }
      #modal-addPromo .carousel-item .content-promo--02 .group_content_template .icon_direction .arrow_item.active::after, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .icon_direction .arrow_item.active::after {
        content: '';
        display: block;
        width: 22px;
        height: 4px;
        background: #2775fc;
        z-index: 1222;
        border-radius: 20px;
        bottom: 50px;
        transform: translate(4px, 4px); }
    #modal-addPromo .carousel-item .content-promo--02 .group_content_template .button_apply, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .button_apply {
      padding: 4px 25px;
      background: #ffffff;
      color: #90959a;
      border: 1px solid #90959a61;
      transform: translate(161px, 23px); }
      #modal-addPromo .carousel-item .content-promo--02 .group_content_template .button_apply:hover, #modal-addPromo .carousel-item .content-promo--03 .group_content_template .button_apply:hover {
        background: #cccccc; }
  #modal-addPromo .carousel-item .content-promo--02 .btn_save_template, #modal-addPromo .carousel-item .content-promo--03 .btn_save_template {
    padding: 5px 39px;
    background: #cccccc !important;
    transform: translateY(17px);
    color: #ffffff; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_02, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 {
    height: 450px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02.right, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02.right, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right {
      height: auto;
      overflow-y: scroll;
      overflow-x: hidden; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top {
      height: 100%;
      background: url("./../images/template_insight/bg_login.png") no-repeat;
      background-size: contain;
      background-position: bottom;
      position: relative;
      font-family: KPMG;
      overflow: hidden;
      background-color: #949494; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .img_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .img_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .img_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .img_template {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .img_template_02, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .img_template_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .img_template_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .img_template_02 {
        width: 227px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .name_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .feed_content, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .img_content, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .name_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .feed_content, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .img_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .name_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .feed_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .img_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .name_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .feed_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .img_content {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        z-index: 2; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .feed_content, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .feed_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .feed_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .feed_content {
        height: 80px;
        top: 113px;
        border: 1px solid #ffffff;
        font-family: KPMG; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .feed_content .title, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .feed_content .title, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .feed_content .title, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .feed_content .title {
          font-size: 16px;
          color: #ffffff;
          background: #f05A29;
          width: 65%;
          margin: auto;
          transform: translateY(-10px); }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .feed_content .content_tempalte, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .feed_content .content_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .feed_content .content_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .feed_content .content_tempalte {
          font-size: 10px;
          color: #ffffff;
          display: inline-block;
          height: 42px;
          overflow-wrap: break-word;
          white-space: initial; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .img_content, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .img_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .img_content, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .img_content {
        top: 218px;
        height: 90px;
        width: 48%; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .phone_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .phone_tempalte {
        top: 240px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .link_text_template {
        top: 285px; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .link_text_template.link_text_template_landing, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .link_text_template.link_text_template_landing, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .link_text_template.link_text_template_landing, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .link_text_template.link_text_template_landing {
          top: 360px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .url_link_text_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .url_link_text_template {
        top: 284px;
        font-size: 13px;
        left: 118px;
        padding: 0;
        text-align: left;
        width: 100%;
        border-radius: 0; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .url_link_text_template a, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .url_link_text_template a, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .url_link_text_template a, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .url_link_text_template a {
          color: #4183c4 !important; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .url_link_text_template .term_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .url_link_text_template .term_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .url_link_text_template .term_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .url_link_text_template .term_template {
          width: 78%;
          overflow: hidden; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template {
        top: 200px;
        width: 80%;
        height: 72px;
        background: #f05a29bf;
        position: relative; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .text_left, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .text_left, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .text_left, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .text_left {
          position: absolute;
          z-index: 10000;
          color: white;
          width: 65%;
          font-family: KPMG; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .text_left.for_desktop, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .text_left.for_desktop, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .text_left.for_desktop, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .text_left.for_desktop {
            right: 4px; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .text_left .title, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .text_left .title, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .text_left .title, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .text_left .title {
            font-size: 16px;
            color: #ffffff; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .text_left .content_tempalte, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .text_left .content_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .text_left .content_tempalte, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .text_left .content_tempalte {
            font-size: 10px;
            color: #ffffff;
            display: inline-block;
            height: 42px;
            overflow-wrap: break-word;
            white-space: initial; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .advertise_peace, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .advertise_peace, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .advertise_peace, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .advertise_peace {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 10px;
          right: 10px; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .advertise_template .advertise_peace.for_desktop, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .advertise_template .advertise_peace.for_desktop, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .advertise_template .advertise_peace.for_desktop, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .advertise_template .advertise_peace.for_desktop {
            right: 122px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .button_template_promo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .button_template_promo {
        top: 335px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .top .bottom, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .top .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .top .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .bottom {
        height: 9% !important;
        position: absolute;
        bottom: -2px;
        left: 0px;
        background: white;
        z-index: 2; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .bottom, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .bottom {
      height: 8%;
      transform: translateY(-2px);
      background-size: cover;
      position: relative; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .bottom .logo_kpmg, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .bottom .logo_kpmg, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .bottom .logo_kpmg, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .bottom .logo_kpmg {
        position: absolute;
        width: 45px;
        height: 20px;
        top: 7px;
        left: 30px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .bottom .logo, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .bottom .logo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .bottom .logo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .bottom .logo {
        position: absolute;
        width: 52px;
        height: 20px;
        background: gray;
        top: 7px;
        left: 150px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-promo_02, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-login_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-login_desk, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-image_landing_desk, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-promo_02, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-login_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-login_desk, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-image_landing_desk, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-promo_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-login_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-login_desk, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-image_landing_desk, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-promo_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-login_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-login_desk, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-image_landing_desk {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-promo_02::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-login_template::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-file-login_desk::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 #lable-image_landing_desk::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-promo_02::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-login_template::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-file-login_desk::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 #lable-image_landing_desk::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-promo_02::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-login_template::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-file-login_desk::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 #lable-image_landing_desk::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-promo_02::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-login_template::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-file-login_desk::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 #lable-image_landing_desk::after {
        content: '';
        height: 0;
        padding: 0; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .choose_radio, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .choose_radio, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .choose_radio, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .choose_radio {
      height: 19px;
      width: 19px;
      display: inherit;
      float: left; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .choose_gradient .gradient_item, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .choose_gradient .gradient_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .choose_gradient .gradient_item, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .choose_gradient .gradient_item {
      width: 30px;
      height: 30px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .input_content_layout, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .input_content_layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .input_content_layout, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .input_content_layout {
      padding-left: 8px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template {
        width: 91%;
        height: auto;
        border-radius: 4px;
        padding-bottom: 13px;
        padding-bottom: 13px; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader {
          background: #ffffff; }
          #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .one_input .input_topheader.area_input {
            height: auto;
            white-space: unset; }
        #modal-addPromo .carousel-item .content-promo--02 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .button_apply, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .button_apply, #modal-addPromo .carousel-item .content-promo--03 .template_demo_02 .custom-file-promo .input_content_layout .group_content_template .right .button_apply, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .custom-file-promo .input_content_layout .group_content_template .right .button_apply {
          transform: translate(243px, 8px); }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left {
    cursor: pointer; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top {
      height: 70%;
      -webkit-background-size: contain;
      background-size: contain;
      position: relative; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top .img_template_03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top .img_template_03 {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top .top_logo, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top .top_logo {
        position: absolute;
        width: 45px;
        height: 20px;
        z-index: 2;
        left: 20px;
        top: 37px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top .top_header_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top .top_header_02 {
        top: 65px;
        font-size: 15px;
        left: 20px;
        z-index: 2;
        letter-spacing: -1px;
        font-family: KPMG; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top .sub_title_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top .sub_title_02 {
        top: 195px;
        font-size: 23px;
        left: 20px;
        z-index: 2;
        line-height: 24px;
        letter-spacing: -1px;
        width: 84%;
        font-family: KPMG; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top .description_02, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top .description_02 {
        position: absolute;
        top: 250PX;
        left: 20px;
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 12px;
        width: 94%;
        z-index: 2;
        font-family: KPMG; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .top.active::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .top.active::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 11px solid #2775fc;
        display: block;
        z-index: 10 !important;
        position: absolute; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .bottom, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .bottom {
      background: url("./../images/video_bg.png");
      height: 31%;
      -webkit-background-size: contain;
      background-size: contain;
      overflow: hidden; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .bottom .video_template03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .bottom .video_template03 {
        width: 100%;
        position: absolute;
        height: 108%;
        top: -11px; }
      #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.left .bottom.active::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.left .bottom.active::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 11px solid #2775fc;
        display: block;
        z-index: 10 !important;
        position: absolute; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right #lable-file-promo_03, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right #lable-file-video-promo_03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right #lable-file-promo_03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right #lable-file-video-promo_03 {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right #lable-file-promo_03::after, #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right #lable-file-video-promo_03::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right #lable-file-promo_03::after, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right #lable-file-video-promo_03::after {
      content: '';
      height: 0;
      padding: 0; }
  #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03 {
    width: 65px;
    height: 30px;
    cursor: pointer;
    position: relative;
    background: #cccccc; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03 img, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03 img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px; }
    #modal-addPromo .carousel-item .content-promo--02 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03.active::before, #modal-addPromo .carousel-item .content-promo--03 .template_demo_03.right .choose_logo .group_logo .one_logo_temp03.active::before {
      content: '';
      width: 100%;
      height: 100%;
      border: 3px solid #2775fc;
      display: block;
      z-index: 1000 !important;
      position: absolute; }
  #modal-addPromo .carousel-item .content-promo--03 .template_demo {
    background: url("");
    background-size: contain; }
  #modal-addPromo .carousel-item .content-promo--03 .bottom {
    margin-top: 13px !important; }
  #modal-addPromo .carousel-item .content-promo--03 .bootstrap-datetimepicker-widget {
    z-index: 10020 !important; }
  #modal-addPromo .carousel-item .content-promo--03 .input_launch {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: .25rem !important;
    float: left;
    height: 37px;
    padding-left: 9px; }
  #modal-addPromo .carousel-item .content-promo--03 .btn_launch {
    background: #e36877 !important;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  #modal-addPromo .carousel-item .content-promo--03 .btn_active_promo {
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 8px 39px;
    background: #cccccc !important; }
    #modal-addPromo .carousel-item .content-promo--03 .btn_active_promo.active {
      background: #e36877 !important; }
  #modal-addPromo .carousel-item .content-promo--03 .arrow_item {
    background: transparent !important; }
  #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top {
    height: 70%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    position: relative; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .img_template_03 {
      position: absolute;
      top: 0px;
      left: 0px; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .top_logo {
      position: absolute;
      width: 46px;
      height: 20px;
      z-index: 2;
      left: 20px;
      top: 37px; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .top_header_02 {
      top: 65px;
      font-size: 16px;
      left: 20px;
      z-index: 2;
      letter-spacing: -1px; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .sub_title_02 {
      top: 195px;
      font-size: 23px;
      left: 20px;
      z-index: 2;
      line-height: 24px;
      letter-spacing: -1px;
      width: 84%; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .top .description_02 {
      position: absolute;
      top: 250PX;
      left: 20px;
      font-size: 9px;
      letter-spacing: 0px;
      line-height: 12px;
      width: 94%;
      z-index: 2; }
  #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .bottom {
    height: 31%;
    -webkit-background-size: contain;
    background-size: contain;
    overflow: hidden;
    margin-top: 0px !important; }
    #modal-addPromo .carousel-item .content-promo--03 .template_demo_03 .bottom .video_template03_content_03 {
      width: 100%;
      position: absolute;
      height: 108%;
      top: -11px; }
#modal-addPromo .carousel-indicators {
  position: relative;
  top: -80px;
  padding: 2px;
  z-index: 0 !important; }
  #modal-addPromo .carousel-indicators .step {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #cccccccc;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center !important;
    margin: 0 25px;
    cursor: pointer;
    font-family: KPMG; }
    #modal-addPromo .carousel-indicators .step.active {
      background-image: linear-gradient(to right, #f12711, #f5af19); }
      #modal-addPromo .carousel-indicators .step.active::before {
        color: #000000; }
    #modal-addPromo .carousel-indicators .step::after {
      content: '';
      display: block;
      background: #cccccccc;
      width: 52px;
      position: absolute;
      height: 2px;
      right: -129%; }
    #modal-addPromo .carousel-indicators .step:last-child::after {
      content: '';
      display: block;
      background: #cccccccc;
      width: 11px;
      right: -27%; }
    #modal-addPromo .carousel-indicators .step::before {
      position: absolute;
      bottom: -29px;
      z-index: 34;
      color: #cccccccc;
      font-size: 10px;
      width: 102px;
      right: -30px;
      text-align: center; }
    #modal-addPromo .carousel-indicators .step:nth-child(1)::before {
      content: "TEMPLATE"; }
    #modal-addPromo .carousel-indicators .step:nth-child(2)::before {
      content: "LOGIN MOBILE"; }
    #modal-addPromo .carousel-indicators .step:nth-child(3)::before {
      content: "LANDING MOBILE"; }
    #modal-addPromo .carousel-indicators .step:nth-child(4)::before {
      content: "LOGIN DESKTOP"; }
    #modal-addPromo .carousel-indicators .step:nth-child(5)::before {
      content: "LANDING DESKTOP"; }
    #modal-addPromo .carousel-indicators .step:nth-child(6)::before {
      content: "LAUNCH"; }

.bg-transparent {
  background: transparent !important; }

.disableDiv {
  pointer-events: none !important;
  cursor: not-allowed !important; }

.border-brown {
  border-left: 4px solid brown !important; }

.border-green {
  border-left: 4px solid green !important; }

.normal-color {
  color: #90959a !important; }

.disable {
  cursor: not-allowed !important;
  pointer-events: none !important; }

.gradient_item.active {
  border: 3px solid #f05A29; }

.choose_radio {
  cursor: pointer; }

.text-wheat {
  color: #f5deb3 !important; }

.text-normal {
  color: #f05A29 !important; }

/*chart body*/
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 47%;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 6%;
  color: #fff;
  text-align: center;
  opacity: .5;
  height: 13%; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 16px;
  FONT-SIZE: 25px;
  height: 238%;
  /* background: transparent no-repeat center center; */
  /* background-size: 73% 74%; */ }

.button_template {
  background: #8080801a;
  height: 33.38px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden; }

.modal_fade_insight {
  background: #f05a2959 !important; }

/*# sourceMappingURL=index.css.map */
