$auditColor: #0191d8;
$taxColor: #bc1f4a;
$advisoryColor: #eaaa00;
$centralsrvColor: #c3007b;
$normalColor: #90959a;
$btnColor: #bc204b;
$insightColor: #f05A29;

@font-face {
  font-family: 'KPMG';
  src: url("./../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'KPMGBold';
  src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.modal-backdrop {
  background-color: #5566ff;
}

a {
  color: $normalColor;
}

.bg-audit {
  background: $auditColor !important;
}

.bg-tax {
  background: $taxColor !important;
}

.bg-advisory {
  background: $advisoryColor !important;
}

.bg-centralsrv {
  background: $centralsrvColor !important;
}

html {
  height: 100%;

  body {
    font-family: KPMG !important;
    /*font-weight: 300;
    height: 100%;*/
    background: #f1f1f1;
    background-image: url("./../images/giftly.png");
    min-width: 1366px;
    overflow-x: scroll;
    #menuLeft, #menuLeft_responsive {
      //background-image: linear-gradient(-218deg, #6A11CB 0%, #2575FC 100%);
      width: 210px;
      position: fixed;
      left: 0px;
      z-index: 1030;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      .brands-kpmg {
        position: relative;
        .name-brands {
          font-weight: bold;
          position: relative;
          font-size: 38px;
          font-family: KPMGBold;
          &:hover {
            text-decoration: none;
          }

          &:after {
            content: "";
            width: 21px;
            height: 3px;
            background: #ffffff;
            position: absolute;
            left: 35%;
            bottom: -5px;
            display: block;
          }
        }
        .sologan-brands {
          text-transform: uppercase;
          font-size: 15px;
          word-spacing: 4px;
          margin-top: 8px;
        }
      }

      .list-menu {
        ul {
          .nav-item {
            font-size: 17px;
            margin-bottom: 15px;
            cursor: pointer;
            .icon-nav {
              width: 24px !important;
              height: auto !important;
            }
            a {
              font-weight: bold;
            }
            &:hover, &.active {
              background: #ffffff;
              border-radius: 5px;

              a {
                color: #4a494a !important;
                font-size: 14px;
              }

              i {
                color: #b2b2b2;
              }
            }
          }
        }
      }
    }
    #menuLeft_responsive {
      width: 60px !important;
      left: -61px;
      .brands-kpmg {
        .name_brand {
          font-size: 17px;
          font-family: KPMGBold;
          display: block;
          transform: translate(-45px, 18px);
        }
      }
      .nav-item {
        height: 39px;
        margin-bottom: 7px !important;
        width: 39px;
        border-radius: 50% !important;
      }
    }
    .navbar-toggle {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 24px;
      cursor: pointer;
      color: white !important;
      border-color: transparent;
      transition: .5s;
      &:hover {
        background: transparent !important;
        border-color: $insightColor !important;
      }
    }

    // Toggle menu
    #menuLeft.toggle-menu {
      left: -210px;
      #toggle-button {
        left: 0;
      }
      .navbar-toggle {
        right: -52px;
        color: #186bc3 !important;
      }
    }
    #menuLeft_responsive.toggle-menu {
      left: 0px;
    }
    #content-right {
      margin-left: 240px;
      min-width: 1050px;
      //background: #f1f1f1;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      .acount-user {
        //transform: translateY(-50px);
        a {
          font-size: 13px;
          cursor: pointer;
          margin-right: 35px;
          font-weight: bold;
          &:hover {
            color: $insightColor;
          }
          i {
            font-size: 18px;
          }
        }
      }

      .title {
        color: #505050;
        font-size: 40px;
      }

      .content-top {
        z-index: 9;
        position: relative;

        .search-btn {
          #icon-search {
            cursor: pointer;
            transform: translateY(12px);
            font-size: 20px;
          }
        }

        #multi-select {
          background: #80808017;
          border-radius: 20px;
          .menu {
            .item {
              font-size: 16px;
            }
          }
        }
      }

      .show-content-right {
        .nav-tabs {
          position: relative;

          .nav-item {
            border: none;

            .nav-link {
              padding: 8px 75px;
              font-weight: bold;
              position: relative;
              &:hover {
                color: $normalColor;
                border-bottom: 3px solid #f05A29;
                //border-color: $insightColor!important;
              }
              #resfeshDashBoard {
                position: absolute;
                top: 0;
                right: 19px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                border: none;
                &:hover {
                  background: #f5f5f5 !important;
                  i {
                    color: $insightColor;
                  }
                }
                i {
                  font-size: 20px;
                  transform: translate(-2px, 2px);
                  color: #afaeae;
                }
              }
              :hover {
                font-weight: bold !important;
              }
            }

            .nav-link.active {
              background: transparent !important;
              border-color: transparent;
              border-bottom: 3px solid $insightColor;
              font-weight: bold;
              color: $insightColor;
              #resfeshDashBoard {
                i {
                  color: $insightColor;
                }
              }
            }
          }
        }

        .tab-content {
          background: #ffffff;

          .tab-pane {

            .current-report {
              position: relative;
              border-radius: 30px !important;
              z-index: 8 !important;
              background: #ffffff;
              font-weight: bold;
              i {
                cursor: pointer;
              }
            }

            .btn-zoom-group {
              position: relative;
              //height: 92px;
              z-index: 999;

              .btn-zoom {
                width: 50px !important;
                position: absolute;
                right: 20px;
                top: 0;
                .size-map {
                  width: 35px;
                }
                .maximise {
                  border-bottom: 0px;
                  position: relative;
                  &:after {
                    content: '';
                    height: 1px;
                    width: 75%;
                    background: grey;
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -1px;
                  }
                }
                .minimise {
                  border-top: 0px;
                }

              }
            }

            .map {
              height: 500px;

              &::-webkit-scrollbar {
                display: none;
              }

              #map-office {
                z-index: 0 !important;

              }

              .avatar {
                z-index: 1 !important;
                position: relative;
                border: 2px solid red;
              }
            }
          }
        }
      }
    }
  }
}

// css ui select
.ui.multiple.dropdown > .label {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  font-size: 14px;
  color: white;
  //background: #c7007d;
  margin-right: 18px;
  min-width: 169px;
  position: relative;
  padding: 10px 25px;
}

i.icon.delete:before {
  content: url("./../images/icon/close.png") !important;
}

// end css ui select

//side bar
.sidenav {
  height: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
  z-index: 10001;
  box-shadow: 0px 0px 30px 0px grey;
  font-family: KPMGBold;
  &::-webkit-scrollbar {
    width: 5px;
  }

  .sideBarSearch {
    .fas {
      font-size: 21px;
      cursor: pointer;
    }

    .closebtn {
      font-size: 40px;
      font-family: KPMG !important;
    }
  }

  .member-infor-detail {
    .avatar {
      border: 2px solid red;
      width: 80px;
      height: 80px;
    }

    .more-detail {
      .title-profile {
        font-size: 13px;
      }
      .name {
        color: #6a6a6a;
        font-size: 22px;
      }

      .position {
        color: #939393;
        font-size: 11px;
      }

      .sub-name {
        color: #6c757d8f;
        font-size: 11px !important;
        font-weight: bold;
        font-family: KPMG !important;
      }
    }
  }

  .title {
    display: inline-block;
    text-align: center;
    font-size: 1em !important;
    width: 90px;
  }

  .dob {
    color: #676767;
    border-top: 2px solid #cabebe6b;
    border-bottom: 2px solid #cabebe6b;
    font-size: 15px;
  }

  .contact {
    color: #676767;
    font-size: 15px;
    border-bottom: 2px solid #cabebe6b;
    .list-number {
      .number {
      }
    }
  }

  .top-favorite {
    .favarite-title {
      font-weight: bold;
      font-size: 17px;
    }

    .title {
      text-align: left;
      font-size: 13px !important;
    }

    .progress-bar {
      height: 9px;
      border-radius: 20px;
    }

    .number-percent {
      color: #b7204d;
    }
  }

  .btn-email {
    background: #e67787;
    margin-top: 3em;
    color: white;
    font-size: 25px;
    border-radius: 15px;
  }

  .more-detail-lg {
    text-align: right;
    cursor: pointer;
    color: $normalColor;

    img {
      cursor: pointer;
    }
  }

  .total-profile {
    .one-profile {
      .title-profile {
        font-size: 18px;
        font-weight: bold;
      }

      .list-group {
        .list-group-item {
          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid transparent;
            float: left;
          }
          &:first-child {
            border-top: 0px solid #ffffff;
          }
          &:last-child {
            border-bottom: 1px solid #8080803d;
          }
        }
      }
    }
  }
}

// css modal
.detail-member {
  .modal-dialog {

    .modal-content {
      height: 800px !important;
      overflow: hidden;
      border-radius: 15px !important;

      .modal-header {
      }

      .left {
        .member-infor-detail {
          .avatar {
            border: 3px solid red;
            width: 80px !important;
            height: 80px !important;
          }

          .more-detail {
            .name {
              font-size: 25px;
              color: #6a6a6a;
            }

            .position {
              color: #939393;
              font-size: 13px;
            }

            .sub-name {
              font-size: 12px;
              font-family: KPMG !important;
            }
          }
        }

        .title {
          width: 30%;
          display: inline-block;
          text-align: right;
          float: left;
        }

        .dob {
          color: #676767;
          border-top: 2px solid #cabebe6b;
          border-bottom: 2px solid #cabebe6b;
        }

        .contact {
          color: #676767;
          border-bottom: 2px solid #cabebe6b;

          .list-number {
            .number {
              font-size: 16px;
            }
          }
        }

        .top-favorite {
          .favarite-title {
            font-size: 18px;
            font-weight: bold;
          }

          .title {
            text-align: left;
            width: 42%;
          }

          .progress-bar {
            width: 40px;
            height: 9px;
            border-radius: 20px;
          }

          .number-percent {
            color: #b7204d;
          }
        }

        .btn-email {
          background: #e67787;
          margin-top: 85px;
          color: white;
          font-size: 18px;
          border-radius: 15px;
        }
      }
      //css right
      .right {
        padding-bottom: 20px;
        overflow-y: scroll;
        height: 90% !important;

        table {
          thead {
            th {
              border-top: 0px !important;
              cursor: pointer;
            }
          }

          tbody {
            height: 500px;
            overflow-y: scroll;
          }
        }
      }
    }
  }
}

//css chat modal
// end css modal box

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat {
  .icon-chat {
    cursor: pointer !important;
    transform: translateY(-11px);
  }
}

#chat-box {
  box-shadow: 1px 1px 9px 1px #888888;
  max-width: 400px !important;
  width: 400px;
  height: 587px;
  right: -410px;
  top: unset;
  bottom: 80px;
  padding: 0 !important;

  .chat {
    position: relative;
    img {
      cursor: pointer !important;
    }
    .title-chat {
      padding: 18px;

      .title-name {
        font-size: 20px;
      }

    }
    .rules {
      position: absolute;
      text-transform: uppercase;
      top: 71px;
      right: 25px;
      color: $normalColor;
      font-size: 14px;
      cursor: pointer;
      z-index: 100001;
      font-family: KPMG;
      font-weight: bold;
      i {
        font-size: 16px;
      }
    }

    .area-chat {
      margin-top: 49px;
      position: relative;
      height: 73%;
      overflow-y: scroll;
      margin-bottom: 5px;

      .example-chat {
        left: 14px;
        bottom: 10px;
        margin-top: 12px;
        font-family: KPMG !important;
        font-weight: bold;
        img {
          width: 30px !important;
          height: 30px !important;
        }

        .text {
          font-size: 14px;

          .hello {
          }
        }
      }
    }

    .input-chat {
      .chats {
        width: 77%;
        height: 35px;
        border-color: #90959a33;
        font-family: KPMG !important;
      }

      img {
        cursor: pointer;
      }
    }
  }
}

// profile detail modal box
#moreDetailInforMember {
  .title {
    font-size: 22px !important;
  }
  .title-profile {
    font-size: 1.3rem;
  }
  td {
    font-family: KPMG;
    font-weight: bold;
  }
}

//css modal box rules
.rules-box {
  .modal-dialog {
    max-width: 60% !important;
    min-width: 1366px;

    .modal-content {
      position: relative;

      .title {
        font-size: 30px;
        color: $normalColor;
      }

      .list-rule {
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: KPMG;
        font-weight: bold;
        table {
          color: $normalColor;
          thead {
            th {
              border-top: 0px !important;
              font-family: KPMGBold !important;
            }
          }
        }
      }

      .modal-body {
        .back {
          cursor: pointer;
        }
      }
    }

    .btn-create-rule, .btn-add {
      position: absolute;
      left: 50%;
      bottom: 50px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .btn-add {
      bottom: 50%;
      left: 80%;
    }
  }
}

.delete.icon {
  position: absolute;
  right: 13px;
}

.btn-create-rule {
  padding: 10px 15% !important;
  border-radius: 10px;
}

.form-create {
  padding: 10px 10px 30px 10px;
  border: 1px solid #efefef;
  margin: 25px 10% 25px 5%;
}

#inlineFormCustomSelect {
  margin-right: 5% !important;
}

.rules-box .modal-dialog .btn-add {
  bottom: 27%;
  left: 85%;
  border-radius: 10px;
}

.btn-wip {
  background: $btnColor;
  color: white;
  font-weight: bold;
}

.main-content {
  //padding-top: 57px;
}

#modalbox-rules {
  .title {
    width: 200px;
    font-size: 30px !important;
    font-weight: bold;
  }
}

#rules-informaition {
  display: inline !important;
  width: 100%;
  font-size: 1.5rem !important;
}

//nam
/*nam*/
/*staff*/
html body #menuLeft .brands-kpmg .name-brands {
  font-size: 20px !important;
}

#myTabContent {
  height: 100% !important;
}

html body #menuLeft .brands-kpmg .sologan-brands {
  font-size: 11px;
  margin: 11px 0 0 6px !important;
  word-spacing: normal;
  font-weight: bold;
  letter-spacing: 0.16px;
}

html body #content-right .title {
  margin-bottom: 13px;
}

div.show-content-right {
  //margin-top: 3% !important;
}

#content-right {
  padding-right: 10px !important
}

.dot {
  margin-right: 2%;
  width: .75em;
  height: .75em;
}

/*feed*/
//#clubhouse-tab, #external-tab {
//  font-size: 15px;
//}
#external {
  position: relative;
  .external-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button_addfeed {
  width: 180px;
  border: 2px solid #dad6d6 !important;
  color: #999999 !important;
  font-weight: bold;
}

/*setting*/
.btn-edit, .btn-delete, .btn-update {
  margin-right: 5px;
  border-width: 2px;
  //color: #ffffff;
}

.btn-edit {
  border-color: #81b5ec;
}

.btn-delete {
  border-color: #e49ba2;
}

#rules {
  overflow: auto !important;
}

/*menu left*/
.list-menu .nav-item {
  height: 40px;
}

#start_day, #end_day, #date_start_update, #date_end_update, #start_time, #end_time, #time_start_update, #time_end_update, #time_start, #time_end, #date_start_info, #date_end_info, #date_start_info_update, #date_end_info_update {
  border: none !important;
}

#time_end_ruleFeedInfo, #time_start_ruleFeedInfo, #end_day_ruleFeedInfo, #start_day_ruleFeedInfo {
  border: none !important;;
}

.bold {
  font-weight: bold !important;
}

#moreDetailInforMemberCurrent {
  .title {
    font-size: 17px !important;
  }
  .title-profile {
    font-size: 1.3rem;
  }
  .sub-name {
    corlor: $normalColor;
    font-family: KPMG !important;
  }
  td {
    font-family: KPMG !important;
  }
}

#moreDetailInforMemberStaff, #moreDetailInforMember, #moreDetailInforMemberCurrent {
  .modal-dialog {
    min-width: 978px;
  }
  .title {
    font-size: 18px !important;
  }
  .dateofbirth {
    font-size: 17px;
  }
  .sub-name {
    color: $normalColor;
    font-family: KPMG !important;
  }
  th {
    font-family: KPMGBold;
  }
  .top-favorite {
    .each-favorite {
      .title {
        font-size: 14px !important;
      }
    }
  }
}

#table {
  th {
    font-family: KPMGBold;

  }
  tr {
    td {
      &:first-child {
        cursor: pointer;
        display: flex !important;
        align-items: center !important;
      }
      &:nth-child(6) {
        opacity: 0;
        padding-top: 17px;
      }
      &:nth-child(5) {
        font-weight: bold;
        text-transform: capitalize !important;
      }
      font-weight: bold;
      .line {
        width: 5px;
        height: 61px !important;
        float: left;
        transform: translate(-10px, -5px);
      }
    }
    &:hover {
      td:last-child {
        opacity: 1 !important;
      }
    }
  }
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
  border: none;
  font-family: KPMGBold;
}

.log_infor {
  tr {
    td {
      font-weight: bold;
    }
  }
}

#tag-setting {
  .ui.multiple.dropdown {
    width: 100% !important;
    display: block;
    .label {
      min-width: auto !important;
      padding: 4px 10px;
      color: white;
      font-size: 17px;
      font-weight: normal;
      background: #3c8dbc;
      padding-right: 22px !important;
      i.icon.delete {
        right: 5px;
        top: 4px;
        &:before {
          content: url("./../images/icon/close.png") !important;

        }
      }
    }
  }
}

//Quang

.fontsize-panel {
  font-size: 16px !important;
  font-family: KPMGBold;
}

.fc-left {
  display: flex;
  align-items: center !important;
}

.fc-left h2 {
  font-size: 15px !important;
  font-family: KPMG !important;
  text-transform: uppercase;
}

.month {
  font-size: 16px !important;
  font-family: KPMG !important;
  text-transform: uppercase;
}

.style-phol::placeholder {
  color: #a7a9ab;
}

.color-fredrules {
  color: #485063;
}

.color-table {
  color: #4c587a;
}

.font-KPMGBold {
  font-family: KPMGBold
}

.table td, .table th {
  border-top: none;
}

.btn-addSetting {
  background: #e36877 !important;
  border-color: #e36877;
  border-radius: 7px !important;
  color: white;
}

.content-table[_ngcontent-c4] {
  overflow-y: scroll !important;
  position: relative;
}

.content-table {
  position: relative;
  height: 725px;
  background: white;
}

.navigation-table-content[_ngcontent-c4] {
  z-index: 0 !important;
}

.navigation-table-content {
  position: absolute;
  z-index: 100;
  display: block;
  bottom: 25px !important;
  right: 45px !important;
}

// Custom datatables
table.dataTable thead .sorting {
  background: transparent !important;
}

table.dataTable thead .sorting_asc {
  background: transparent !important;
}

table.dataTable thead .sorting_desc {
  background: transparent !important;
}

.dataTables_info {
  display: none !important;
}

table.dataTable thead th {
  border-bottom: 2px solid #dee2e6 !important;
}

table.dataTable.no-footer {
  border-bottom: 1px solid transparent !important;
}

.dataTables_filter {
  display: none !important;
}

.dataTables_length {
  display: none;
}

#content-table {
  overflow-y: scroll;
}

.person_image {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
}

#myCanvas {
}

.function-apend, .function-apend1, .function-apend2 {
  margin-bottom: 33px !important;
  font-weight: bold;
  font-family: KPMGBold;
  margin-top: 1% !important;
}

//.function-apend,.function-apend1{
//  margin-top: 1%!important;
//}
//.function-apend2{
//  margin-top: 0%!important;
//}
#modal-updateFeed .blah0 {
  width: 270px;
  height: 180px;
}

.border--icon {
  background-image: url("./../images/icon/ico_bar.png");
  //margin: 6% -25% 6% 5%;
  background-color: white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 64%;
  min-width: 8vw;
}

.box--2--txt {
  margin-left: 9%;
  margin-top: 8% !important;
  font-size: 1em;
  text-align: center;
  min-width: 13vw;
  font-family: KPMG;
}

.box--2--num {
  font-size: 6em;
  margin-top: -12%;
  text-align: center;
}

.chart3--box {
  background-color: red !important;
  margin-top: 4%;
}

.bold-letter {
  font-weight: bold;
  font-family: KPMGBold !important;
}

.carousel-control-prev > .left {
  display: none;
}

//#modal-addfeed .carousel-control-prev > .left{
//  display: block!important;
//}
#list-profile, .btn-email {
  font-family: KPMG !important;
}

.number-percent {
  font-size: 17px !important;
}

#member-detail {
  .contact-detail {
    .title {
      font-size: 17px !important;
    }
  }
}

#moreDetailInforMember {
  .contact-detail {
    .title {
      font-size: 17px !important;;
    }
  }
}

.modal-title {
  font-size: 22px;
}

.modal-body {
  color: $normalColor;
  font-family: KPMGBold;
}

.title-chat {
  font-family: KPMG;
  font-weight: bold;
}

.log_inforlog_infor {
  tr {
    td {
      padding: 17px !important;
      font-family: KPMG;
      font-weight: bold;
    }
  }
}

.pagination {
  display: none !important;
}

.ic_prev:hover, .ic_next:hover {
  color: #eb2d89 !important;
}

.th_action {
  &:after, &:before {
    content: '' !important;
  }
}

.navigation-table-content {
  font-family: KPMG;
  font-weight: bold;
}

#modalbox-email-header, #modalbox-email-header-current {
  position: relative;
  button.close {
    position: absolute;
    right: 23px;
  }

}

// js_emoji
#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  background-color: white;
  border-radius: 5px;
  width: 295px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
  padding: 5px;
}

#content_icon {
  height: 230px;
  width: 295px;
  overflow: auto;
}

#btn_icon, #btn_icon_addFeed {
  width: 26px;
  height: 26px;
  background: url('./../images/img_emoji/icon_basic.png') no-repeat;
  background-size: 25px;
  cursor: pointer;
  border: none;
  position: absolute;
  z-index: 999;
}

.emoji_btn {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  margin: 1px;
  padding: 3px;
  background-size: 23px !important;
  cursor: pointer;
  margin: 3px;
}

.img_emoji {
  width: 24px;
  height: 24px;
}

#emoji_box_addFeed, #emoji_box_updateFeed {
  transform: translate(-260px, 29px);
  z-index: 10;
  position: relative;
}

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  border: 1px solid;
  font-family: KPMG;
  padding: 10px;
}

#emoji_custom, #emoji_custom_addFeed, #emoji_custom_updateFeed {
  position: absolute;
  z-index: 10;
}

#content_chat[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

#content_chat[placeholder]:empty:focus:before {
  content: "";
}

#content_chat_update[placeholder]:empty:focus:before {
  content: "";
}

#content_chat, #content_chat_update, #content_chat_addFeed, #content_chat_updateFeed {
  --moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  height: 110px;
  overflow: auto;
  padding: 2px;
  resize: both;
  border-radius: 5px;
  border-color: #ced4da;
}

.emoji-mart, .emoji-mart-addFeed, .emoji-mart-updateFeed {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border: none;
  background: none;
  margin: 6px;
  background-image: url('./../images/list_emoji.png');
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%;
}

.icon_emoji {
  background-image: url('./../images/list_emoji.png');
  width: 24px;
  height: 24px;
  background-size: 5200% 5200%;
  /*background-position: 58.8235% 54.902%;*/
}

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 270px;
  width: 355px;
  padding: 0 6px 6px 6px;
  will-change: transform;
}

@media only screen and (max-width: 1367px) {
  .border--icon {
    min-width: 8vw;
    margin: 4vh 0vw 4vh 0vw !important;
  }
  .height--box {
    max-height: 22vh;
  }
  .chart--footer {
    width: 96% !important;
  }
  .box--2--num {
    font-size: 5.3em;
  }
}

@media only screen and (max-width: 1522px) and (min-width: 1367px) {
  .border--icon {
    min-width: 8.5vw;
    margin: 7vh 0vw 7vh 0vw !important;
  }
  .chart--footer {
    width: 96% !important;
  }
}

.btn-mail-infor {
  padding: 5px 32px !important;
  font-size: 18px !important;
}

.log_table.dataTable tbody td {
  padding: 14px 10px !important;
}

.item_list {
  cursor: pointer;
}

#content-right.toggle-menu {
  margin-left: 63px;
}

#navigation_yitu {
  bottom: 35px !important;
  right: 80px !important;
}

//select2
.select2-container--default .select2-selection--multiple {
  border: 1px solid #d9d9d9 !important;
}

#modalAddFeedInformation {
  .form-create {
    border: none;
    input, textarea {
      font-family: KPMG;
      font-size: 19px;
    }
    .wrapper-content {
      border: 1px solid #90959a4a;
    }
    #img_file_info {
      width: 200px !important;
      height: auto !important;
    }
    #plus_imgex {
      margin: 23px auto !important;
      cursor: pointer;
    }
    #add_image {
      border: 1px dashed $normalColor;
    }
  }
  .btn-add {
    bottom: 7%;
  }

}

.btn_update_feedInfo {
  bottom: 16% !important;
}

#img_file_info_update {
  height: 120px !important;
  width: auto;
}

#live {
  min-height: 725px !important;
}

#rules-informaition_update {
  width: 300px;
}

.logScroll {
  height: 500px;
  overflow-y: scroll;
}

.swal-overlay {
  z-index: 10002 !important;
}

.box--1--txt {
  font-family: KPMG;
}

.groupFormFeedInfo {
  border: 1px dashed $normalColor;
}

.h-200 {
  height: 200px !important;
}

.ap-layout-popup {
  z-index: 1000000000 !important;
}

#modal-addPromo {
  .modal-header {
    .modal-title {
      color: grey;
      font-size: 21px;
    }
  }
  .carousel-item {
    justify-content: center;
    height: 407px;
    .content-promo {
      height: 470px;
      width: 100%;
      .content-item {
        height: 360px;
        width: 30%;
      }
      .content-item_01 {

      }
    }
    .content-promo--01 {
      .content-item {
        cursor: pointer;
        position: relative;
        &:hover {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border: 6px solid $insightColor;
            width: 100%;
          }
        }
        &.active {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border: 6px solid $insightColor;
          }
        }
      }
    }
    .content-promo--02, .content-promo--03 {
      .template_demo_01 {
        .custom-file-promo {
          .choose_radio {
            height: 19px;
            width: 19px;
            display: inherit;
            float: left;
          }
          .img {
          }
          .choose_gradient {
            .gradient_item {
              width: 30px;
              height: 30px;
              &.active {
                border: 2px solid $insightColor;
              }
            }
          }
          .input_content_layout {
            padding-left: 8px;
            .group_content_template {
              width: 91%;
              height: 290px;
              border-radius: 4px;
              .right {
                .one_input {
                  .input_topheader {
                    background: #ffffff;
                    &.area_input {
                      height: auto;
                      white-space: unset;
                    }
                  }
                }
                .button_apply {
                  transform: translate(243px, 8px);
                }
              }
            }
          }
        }
      }
      .template_demo {
        overflow: hidden;
        background: url("./../images/templates/Template01_demo.png") no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        .top, .bottom {
          width: 150%;
          height: 52%;
          transform: rotate(-9deg);
          transform-origin: 0 100%;
          position: relative;
          overflow: hidden;
          .layout {
            width: 230px;
            height: 243px;
            position: absolute;
            transform: rotate(9deg);
            top: 13px;
            left: 18px;
            .group_item {
              position: relative;
              width: 100%;
              height: 100%;
              cursor: pointer;
              .top_header {
                width: 100%;
                position: absolute;
                bottom: 50px;
                right: -46px;
                z-index: 2;
                .text_header {
                  width: 61%;
                  font-size: 14px;
                  font-family: KPMG;
                  font-weight: bold;
                }
                .arrow_item {
                  width: 30px;
                  height: 30px;
                  background: #ca6565;
                  border-radius: 50%;
                }
              }
              .image {
                width: 100%;
                height: 100%;
              }
              &.active {
                .top_teplate, .bottom_teplate {
                  width: 100%;
                  height: 11px;
                  background: #0f56d0;
                  position: absolute;
                  top: 7px;
                  left: 0;
                  transform: rotate(0deg);
                  z-index: 3;
                }
                .bottom_teplate {
                  top: 207px;
                  transform: rotate(-9deg);
                  z-index: 3;
                }
                .left_teplate, .right_teplate {
                  width: 12px;
                  height: 100%;
                  background: #0f56d0;
                  position: absolute;
                  top: 0;
                  left: 0px;
                  z-index: 3;
                }
                .right_teplate {
                  left: 215px;
                  z-index: 3;
                }
              }
            }
          }
        }
        .bottom {
          transform: rotate(-9deg);
          transform-origin: 0;
          height: 150%;
          margin-top: 5px;
          .layout {
            top: -23px;
            left: 42px;
            height: 219px;
            .group_item {
              .top_header {
                bottom: 19px;
                right: -19px;
              }
              &.active {
                .top_teplate {
                  transform: rotate(-9deg);
                  top: 21px;
                  z-index: 3;
                }
                .right_teplate {
                  left: 214px;
                  z-index: 3;
                }
                .left_teplate {
                  left: -1px;
                  z-index: 3;
                }
                .bottom_teplate {
                  transform: rotate(0deg);
                  top: 209px;
                  z-index: 3;
                }
              }
            }
          }
        }

      }
      .content-item {
        height: 442px;
      }
      .label {
        font-size: 13px;
        color: #352f2fc4;

      }
      .img {
        padding-left: 8px;
        #lable-file-promo, #lable-file-promo-bottom {
          z-index: 10;
          cursor: pointer;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 76%;
          border-radius: .25rem !important;
          color: $normalColor;
          &::after {
            //background-color: transparent!important;
            content: '';
            height: 0;
            padding: 0;
          }
        }

        .button-file-promo {
          border: 1px solid #ced4da;
          color: $normalColor;
        }
        .note {
          font-size: 12px;
          position: relative;
          font-family: KPMG;
          font-weight: bold;
          cursor: pointer;
          .click_note {
            cursor: pointer;
          }
          .content-note {
            width: 384px;
            height: 385px;
            background: #ffffff;
            position: fixed;
            box-shadow: -4px 3px 22px 6px rgba(4, 4, 4, 0.22), 0px 1px 1px 2px rgba(0, 0, 0, 0.31);
            left: 333px;
            top: 71px;
            z-index: 10;
            .text {
              .text-bold {
                font-family: KPMGBold;
              }
            }
            .example_image {
              position: relative;
              width: 250px;
              height: 249px;
              margin-top: 36px;
              .size_width {
                width: 97%;
                height: 2px;
                background-color: #dc3545 !important;
                position: absolute;
                top: -11px;
                &::before, &::after {
                  content: '';
                  height: 10px;
                  width: 2px;
                  background: #dc3545 !important;
                  display: block;
                  top: -4px;
                  position: relative
                }
                &::after {
                  left: 100%;
                  top: -14px;
                }
              }
              .text_width {
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                top: -32px;
                font-family: KPMGBold;
              }
              .text_height {
                position: absolute;
                font-family: KPMGBold;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                top: 50%;
                right: -70px;
              }
              .size_height {
                height: 99%;
                width: 2px;
                background-color: #dc3545 !important;
                position: absolute;
                right: -13px;
                &::before, &::after {
                  content: '';
                  width: 10px;
                  height: 2px;
                  background: #dc3545 !important;
                  display: block;
                  top: 0px;
                  right: -50%;
                  transform: translateX(-50%);
                  position: relative
                }
                &::after {
                  top: 99%;
                }
              }
              .img_examples {
                //width: 311px;
                width: auto;
                height: 282px;
                position: absolute;
                top: -31px;
                left: 0;
              }
            }
            .download_example {
              .link_download {
                color: #4183c4;
                font-family: KPMGBold;
                i {
                  font-size: 14px;
                }
              }
            }
            &#content-note_03 {
              top: 144px;
            }
          }
        }
      }
      .choose_gradient {
        padding-left: 8px;
        .group_gradient {
          width: 100%;
          .gradient_item {
            width: 25px;
            height: 25px;
            cursor: pointer;
          }
        }
      }
      .group_content_template {
        padding-left: 8px;
        width: 100%;
        height: 185px;
        background: #cccccc4f;
        .input_topheader {
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 98%;
          height: 34px;
          border: 1px solid #cccccc;
          border-radius: .25rem !important;
          float: left;
          background: #f6f6f6;
          padding-left: 9px;
        }
        .pick_text_color {
          position: relative;
          width: 19%;
          height: 34px;
          border-radius: 4px;
          background: gainsboro;
          border: 1px solid #cccccc;
          background: #f6f6f6;
          .text_color_promo, .text_color_promo_bottom {
            height: 100%;
            width: 45%;
            display: inline-block;
            cursor: pointer;
            border: 1px solid #cccccc;
            &.active {
              border: 3px solid #2775fc;
            }
          }
          &::before {
            content: 'Text Color';
            display: block;
            font-family: KPMG;
            font-size: 12px;
            text-transform: capitalize;
            position: absolute;
            top: -21px;
            font-weight: bold;
            color: black;
            left: 0px;
          }
        }
        .icon_direction {
          .arrow_item {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: gainsboro;
            float: left;
            cursor: pointer;
            &.active {
              &::after {
                content: '';
                display: block;
                width: 22px;
                height: 4px;
                background: #2775fc;
                z-index: 1222;
                border-radius: 20px;
                bottom: 50px;
                transform: translate(4px, 4px);
              }
            }

          }
        }
        .button_apply {
          padding: 4px 25px;
          background: #ffffff;
          color: $normalColor;
          border: 1px solid #90959a61;
          transform: translate(161px, 23px);
          &:hover {
            background: #cccccc;
          }
        }
      }
      .btn_save_template {
        padding: 5px 39px;
        background: #cccccc !important;
        transform: translateY(17px);
        color: #ffffff;
      }
      //css template demo 02
      .template_demo_02, .template_demo_03 {
        height: 450px;
        &.left {
          //border: 1px solid #61555554;
        }
        &.right {
          height: auto;
          overflow-y: scroll;
          overflow-x: hidden;
        }
        .top {
          height: 100%;
          background: url("./../images/template_insight/bg_login.png") no-repeat;
          background-size: contain;
          background-position: bottom;
          position: relative;
          font-family: KPMG;
          overflow: hidden;
          background-color: #949494;
          .img_template {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
          }
          .img_template_02 {
            width: 227px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }
          .name_template, .phone_tempalte, .link_text_template, .url_link_text_template, .button_template_promo, .advertise_template, .feed_content, .img_content {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            width: 84%;
            z-index: 2;
          }
          .feed_content {
            height: 80px;
            top: 113px;
            border: 1px solid #ffffff;
            font-family: KPMG;
            .title {
              font-size: 16px;
              color: #ffffff;
              background: $insightColor;
              width: 65%;
              margin: auto;
              transform: translateY(-10px);
            }
            .content_tempalte {
              font-size: 10px;
              color: #ffffff;
              display: inline-block;
              height: 42px;
              overflow-wrap: break-word;
              white-space: initial;
            }
          }
          .img_content {
            top: 218px;
            height: 90px;
            width: 48%;
            //background-color: transparent!important;
          }
          .phone_tempalte {
            top: 240px;
          }
          .link_text_template {
            top: 285px;
            &.link_text_template_landing {
              top: 360px  ;
            }
          }
          .url_link_text_template {
            top: 284px;
            font-size: 13px;
            left: 118px;
            padding: 0;
            text-align: left;
            width: 100%;
            border-radius: 0;
            a {
              color: #4183c4 !important;
            }
            .term_template {
              width: 78%;
              //height: 37px;
              overflow: hidden;
            }
          }
          .advertise_template {
            top: 200px;
            width: 80%;
            height: 72px;
            background: #f05a29bf;
            position: relative;
            .text_left {
              position: absolute;
              z-index: 10000;
              color: white;
              width: 65%;
              &.for_desktop{
                right: 4px;
              }
              font-family: KPMG;
              .title {
                font-size: 16px;
                color: #ffffff;
              }
              .content_tempalte {
                font-size: 10px;
                color: #ffffff;
                display: inline-block;
                height: 42px;
                overflow-wrap: break-word;
                white-space: initial;
              }
            }
            .advertise_peace {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 10px;
              right: 10px;
              &.for_desktop{
                right: 122px;
              }
            }
          }
          .button_template_promo {
            top: 335px;
          }
          .bottom {
            height: 9% !important;
            position: absolute;
            bottom: -2px;
            left: 0px;
            background: white;
            z-index: 2;
          }
        }
        .bottom {
          height: 8%;
          transform: translateY(-2px);
          background-size: cover;
          position: relative;
          .logo_kpmg {
            position: absolute;
            width: 45px;
            height: 20px;
            top: 7px;
            left: 30px;
          }
          .logo {
            position: absolute;
            width: 52px;
            height: 20px;
            background: gray;
            top: 7px;
            left: 150px;
          }

        }
        #lable-file-promo_02, #lable-file-login_template, #lable-file-login_desk, #lable-image_landing_desk {
          width: 75%;
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
          &::after {
            content: '';
            height: 0;
            padding: 0;
          }
        }
        .custom-file-promo {
          .choose_radio {
            height: 19px;
            width: 19px;
            display: inherit;
            float: left;
          }
          .img {
          }
          .choose_gradient {
            .gradient_item {
              width: 30px;
              height: 30px;
            }
          }
          .input_content_layout {
            padding-left: 8px;
            .group_content_template {
              width: 91%;
              height: auto;
              border-radius: 4px;
              padding-bottom: 13px;
              padding-bottom: 13px;
              .right {
                .one_input {
                  .input_topheader {
                    background: #ffffff;
                    &.area_input {
                      height: auto;
                      white-space: unset;
                    }
                  }
                }
                .button_apply {
                  transform: translate(243px, 8px);
                }
              }
            }
          }
        }

      }
      // css template demo 03
      .template_demo_03 {
        &.left {
          cursor: pointer;
          .top {
            height: 70%;
            -webkit-background-size: contain;
            background-size: contain;
            position: relative;
            .img_template_03 {
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 0;
            }
            .top_logo {
              position: absolute;
              width: 45px;
              height: 20px;
              z-index: 2;
              left: 20px;
              top: 37px;
            }
            // reuse css of template 02
            .top_header_02 {
              top: 65px;
              font-size: 15px;
              left: 20px;
              z-index: 2;
              letter-spacing: -1px;
              font-family: KPMG;
            }
            .sub_title_02 {
              top: 195px;
              font-size: 23px;
              left: 20px;
              z-index: 2;
              line-height: 24px;
              letter-spacing: -1px;
              width: 84%;
              font-family: KPMG;
            }
            .description_02 {
              position: absolute;
              top: 250PX;
              left: 20px;
              font-size: 10px;
              letter-spacing: 0px;
              line-height: 12px;
              width: 94%;
              z-index: 2;
              font-family: KPMG;
            }
            &.active {
              &::after {
                content: '';
                width: 100%;
                height: 100%;
                border: 11px solid #2775fc;
                display: block;
                z-index: 10 !important;
                position: absolute;
              }
            }
            .img_template_03 {
            }
          }
          .bottom {
            background: url("./../images/video_bg.png");
            height: 31%;
            -webkit-background-size: contain;
            background-size: contain;
            overflow: hidden;
            .video_template03 {
              width: 100%;
              position: absolute;
              height: 108%;
              top: -11px;
            }
            &.active {
              &::after {
                content: '';
                width: 100%;
                height: 100%;
                border: 11px solid #2775fc;
                display: block;
                z-index: 10 !important;
                position: absolute;
              }
            }
          }
        }
        &.right {
          #lable-file-promo_03, #lable-file-video-promo_03 {
            width: 75%;
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            &::after {
              content: '';
              height: 0;
              padding: 0;
            }
          }
          .choose_logo {
            .group_logo {
              .one_logo_temp03 {
                width: 65px;
                height: 30px;
                cursor: pointer;
                position: relative;
                background: #cccccc;
                img {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0px;
                  left: 0px;
                }
                &.active {
                  &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border: 3px solid #2775fc;
                    display: block;
                    z-index: 1000 !important;
                    position: absolute;
                  }
                }
              }
            }
          }
        }
      }

    }
    .content-promo--03 {
      .template_demo {
        background: url("");
        background-size: contain;
      }
      .bottom {
        margin-top: 13px !important;
      }
      .bootstrap-datetimepicker-widget {
        z-index: 10020 !important;
      }
      .input_launch {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        height: 34px;
        border: 1px solid #cccccc;
        border-radius: .25rem !important;
        float: left;
        height: 37px;
        padding-left: 9px;
      }
      .btn_launch {
        background: #e36877 !important;
        float: left;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
      .btn_active_promo {
        outline: none;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 8px 39px;
        background: #cccccc !important;
        &.active {
          background: #e36877 !important;
        }
      }
      .arrow_item {
        background: transparent !important;
      }
      .template_demo_03 {
        .top {
          height: 70%;
          -webkit-background-size: cover;
          background-size: cover;
          position: relative;
          position: relative;
          .img_template_03 {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          // reuse css of template 02
          .top_logo {
            position: absolute;
            width: 46px;
            height: 20px;
            z-index: 2;
            left: 20px;
            top: 37px;
          }
          .top_header_02 {
            top: 65px;
            font-size: 16px;
            left: 20px;
            z-index: 2;
            letter-spacing: -1px;
          }
          .sub_title_02 {
            top: 195px;
            font-size: 23px;
            left: 20px;
            z-index: 2;
            line-height: 24px;
            letter-spacing: -1px;
            width: 84%;
          }
          .description_02 {
            position: absolute;
            top: 250PX;
            left: 20px;
            font-size: 9px;
            letter-spacing: 0px;
            line-height: 12px;
            width: 94%;
            z-index: 2;
          }
        }
        .bottom {
          height: 31%;
          -webkit-background-size: contain;
          background-size: contain;
          overflow: hidden;
          margin-top: 0px !important;
          .video_template03_content_03 {
            width: 100%;
            position: absolute;
            height: 108%;
            top: -11px;
          }
        }

      }
    }
  }

  .carousel-indicators {
    position: relative;
    top: -80px;
    padding: 2px;
    z-index: 0 !important;
    .step {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: #cccccccc;
      border-radius: 50%;
      color: #ffffff;
      display: flex;
      align-items: center;
      font-size: 24px;
      justify-content: center !important;
      margin: 0 25px;
      cursor: pointer;
      font-family: KPMG;
      &.active {
        background-image: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
        &::before {
          color: #000000;
        }
      }
      &::after {
        content: '';
        display: block;
        background: #cccccccc;
        width: 52px;
        position: absolute;
        height: 2px;
        right: -129%;
      }
      &:last-child {
        &::after {
          content: '';
          display: block;
          background: #cccccccc;
          width: 11px;
          right: -27%;
        }
      }
      &::before {
        position: absolute;
        bottom: -29px;
        z-index: 34;
        color: #cccccccc;
        font-size: 10px;
        width: 102px;
        right: -30px;
        text-align: center;
      }
      &:nth-child(1) {
        &::before {
          content: "TEMPLATE";
        }
      }
      &:nth-child(2) {
        &::before {
          content: "LOGIN MOBILE";
        }
      }
      &:nth-child(3) {
        &::before {
          content: "LANDING MOBILE";
        }
      }
      &:nth-child(4) {
        &::before {
          content: "LOGIN DESKTOP";
        }
      }
      &:nth-child(5) {
        &::before {
          content: "LANDING DESKTOP";
        }
      }
      &:nth-child(6) {
        &::before {
          content: "LAUNCH";
        }
      }

    }

  }

}

.bg-transparent {
  background: transparent !important;
}

.disableDiv {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.border-brown {
  border-left: 4px solid brown !important;
}

.border-green {
  border-left: 4px solid green !important;
}

.normal-color {
  color: $normalColor !important;
}

.disable {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.gradient_item {
  &.active {
    border: 3px solid $insightColor;
  }
}

.choose_radio {
  cursor: pointer;
}

.text-wheat {
  color: #f5deb3 !important;
}

.text-normal {
  color: $insightColor !important;
}

/*chart body*/
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 47%;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 6%;
  color: #fff;
  text-align: center;
  opacity: .5;
  height: 13%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 16px;
  FONT-SIZE: 25px;
  height: 238%;
  /* background: transparent no-repeat center center; */
  /* background-size: 73% 74%; */
}

.button_template {
  background: #8080801a;
  height: 33.38px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal_fade_insight {
  background: #f05a2959 !important;
}
