* {
  margin: 0;
  padding: 0;
}

.wrap-login {
  /*background: url("./../../../assets/images/bg-login.png") !important;*/
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center;
}

.wrap-login .form-signin {
  width: 460px;
  height: 530px;
  margin: auto;
  border-radius: 7px !important;
  padding-left: 70px !important;
  padding-right: 70px !important;
  background-color: #00000073;
}

.wrap-login .form-signin .logo {
  color: white;
  /*font-weight: bold;*/
}

.wrap-login .form-signin .logo .brands-name {
  font-size: 27px;
  line-height: 29px;
  margin-top: 20px !important;
  font-family: KPMGBold;
  /*letter-spacing: 1px; */
}

.wrap-login .form-signin .logo .brands-name:after {
  content: '';
  width: 190px;
  height: 1px;
  background: #fff;
  display: block;
  transform: translateX(-10px);
  margin: 5px 0;
}

.wrap-login .form-signin .logo .sologan {
  font-size: 12px !important;
  color: white;
  font-family: KPMG;
  word-spacing: 2px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.wrap-login .form-signin input {
  color: #000000 !important;
  padding: 8px 8px 8px 15px;
  font-size: 15px;
  background-color: rgb(250, 255, 189) !important;
}

.wrap-login .form-signin input::placeholder {
  color: #abafb3;
  font-size: 15px;
}

.wrap-login .form-signin button {
  font-size: 19px;
  background: linear-gradient(45deg, #000000, #ffffff);
  color: #484b4d !important;
  font-weight: bold;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: 0.5s;
}
.wrap-login .form-signin button:hover{
  color: #000000;
  background: linear-gradient(45deg, #ffffff, #000000);
}
.logo_image{
  height: 100px;
}
