<div class="wrap-login h-100 d-flex align-items-center">
  <form class="form-signin pt-4 " name="form login" #formLogin="ngForm">
    <div class="mb-4 logo text-uppercase w-50 m-auto">
      <img src="./assets/images/logo.png" alt="" class="logo_image">
    </div>

    <div class="form-label-group mt-5 pt-5">
      <input type="email" [(ngModel)]="user.email" id="inputEmail" name="inputEmail" #inputEmail="ngModel"
             class="form-control" placeholder="Username" required autofocus="">
      <div *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
        <div *ngIf="inputEmail.errors.required" class="text-danger"> Email Adress is required.</div>
      </div>
    </div>

    <div class="form-label-group my-3 mb-5  mt-5">
      <input type="password" [(ngModel)]="user.password" id="inputPassword" #inputPassword="ngModel"
             name="inputPassword" class="form-control" placeholder="Password" required>
      <div *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
        <div *ngIf="inputPassword.errors.required" class="text-danger"> Name is required.</div>
      </div>
    </div>
    <button class="btn btn-lg  btn-block  text-capitalize" type="submit" (click)="loginUser()"
            [disabled]="formLogin.invalid"> LOG IN
    </button>
    <a href="#" class="mb-5 d-block mt-3 text-light"> Forgot your password?</a>
  </form>
</div>
