  <h1 class="title text-wheat"> Insight Ads</h1>
<!--End Acount User-->
 <!--content Top Search Profile-->
   <!--<app-search-profile class="invisible"></app-search-profile>-->
  <!--End content Top-->
 <!-- show content-->
   <app-feeds-content></app-feeds-content>
