.head--left .bold-letter, .head--left {
  letter-spacing: 1px;
  color: #F05A29 !important;
}

.head--left .dropdate, #choose__type {
  cursor: pointer;
  color: #F05A29 !important;
}

#myTab li span {
  font-size: 16px !important;
  font-family: "Open Sans";
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.tab-content > .tab-pane {
  background-color: #fff;
  border-radius: 43px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff0;
  border-color: #fff0;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff0;
  border-bottom: 3px solid #F05A29;
  text-decoration: none;
  cursor: pointer;
}

.nav-tabs .nav-item .active {
  border-color: #fff0;
  border-bottom: 3px solid #F05A29;
  text-decoration: none;
  color: #F05A29;
}

.select2-container {
  width: 100% !important;
}

.cs-skin-underline > span {
  padding: 0em 2em 0.1em 1.5em;
  color: #F05A29 !important;
  font-size: 15px;
}

.cs-skin-underline > span::after {
  content: '\25BE';
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0deg);
}

.cs-skin-underline.cs-active > span::after {
  -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 180deg);
  transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 180deg);
}

.cs-skin-underline ul span {
  text-transform: capitalize;
  font-size: 15px;
  padding: 0.5em 0.8em;
}

.cs-options {
  text-align: center;
}

.cs-skin-underline .cs-options li span:hover, .cs-skin-underline .cs-options li.cs-focus span, .cs-skin-underline li.cs-selected span {
  color: #F05A29 !important;
  background: #fff0;
}

.cs-skin-underline ul span::before {
  background-color: #F05A29 !important;
  height: 0px;
}

.cs-skin-underline .cs-options {
  background: #fff0;
}

.cs-select .cs-selected span::after, #detect, #detail, .select2-selection__clear {
  display: none;
}

.cs-skin-underline > span {
  border-bottom: 2px solid;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  border: solid #fff0;
  background-color: #fff0;
  cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
  padding: 7px 24px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: 0px solid #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #000000b5;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.select2-selection__rendered {
  color: #000;
}

#line-tab .fa-eye {
  transition: all 0.2s ease 0s;
}

.animation__eye {
  transform: rotateX(360deg);
  transition: all 0.2s ease 0s;
}

#dashboardtable_paginate {
  display: none;
}
.highcharts-exporting-group{
  display: none!important;
}
