/*.btn-edit{*/
  /*background-color: #007bff !important;*/
  /*border-color: #007bff;*/
  /*border-radius: 3px !important;*/
/*}*/
/*.btn-delete{*/
  /*background-color: #dd4b39!important;*/
  /*border-color: #d73925;*/
  /*border-radius: 3px !important;*/
/*}*/
.btn-update{
  background-color: #28a745!important;
  border-color: #28a745;
  border-radius: 3px !important;
}
#myTabContent{
  height: 100%!important;
}

.ic_prev,.ic_next{
  cursor: pointer;
}
.table_setting tbody tr:hover{
  background-color: #ebe7e7 !important;

}
.table_setting{
  table-layout: fixed;
}
.table_setting tbody tr td{
  word-wrap: break-word;
}
#nav_user,#nav_zone,#nav_yitu{
  display: none;
}
.table_setting th{
  border-top: none;
}
.add_user{
  border: 1px solid #dad6d6;
  border-top: 3px solid #3c8dbc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 6px;
}
#result li {
  list-style-type: none;
  margin-top: 5px;
}
.box-header{
  border-bottom: 1px solid #dad6d6;
}
label{
  font-weight: bold;
}
.checkbox label{
  cursor: pointer;
}
.box-primary{
  border-top: 3px solid #3c8dbc;
}
.box{
  border-bottom: 1px solid #dad6d6;
  text-align: left;
  border-radius: 3px;
}
.box_history{
  border-radius: 3px;
  position: relative;
}
.navigation-table-content{
  position: absolute;
  bottom: 35px;
  right: 80px;
}
.show_collapse{
  float: right;
}
.rules-box .modal-dialog .modal-content .title{
  color: black!important;
}
.rules-box .modal-dialog {
  max-width: 60% !important;
  min-width: 51%!important;
}

.cursor_img{
  cursor: pointer;
}
.btn_add_page_setting{
  background-color: #e36877;
  border-color:#e36877 ;
  border-radius: 7px!important;
  color: white;
}
.btn_add_page_setting:hover{
  background-color: #c82333;
  border-color: #c82333;
}
.btn_modal, .btn_add_zone{
  padding-left: 40px;
  padding-right: 40px;
  /*margin-right: 7px;*/
}
#result_update li {
  list-style-type: none;
}

