<div class="show-content-right mt-5" id="setting-content">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
    <li class="nav-item ">
      <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab"
         aria-controls="home" aria-selected="true" data-title="Location">Location</a>
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <app-loading-waiting *ngIf="isShowTableUser"></app-loading-waiting>
    <div class="tab-pane fade show active m-auto text-center w-100 h-100" id="live" role="tabpanel"
         aria-labelledby="live-tab">
      <div class="content-table h-100" id="content-table-user">
        <div>
          <button type="button" class="btn button_addfeed m-3 " style="float: right;background-color: #ffffff;"
                  data-toggle="modal" data-target="#modalZone"><i class="fa fa-plus"></i> Add New Location
          </button>
        </div>

        <div style=" margin-bottom: 33px;" *ngIf="!isShowTableUser">
          <table class="table table_setting" style="margin-top: 10px;width: 95%" id="table_user">
            <thead>
            <tr>
              <th >Location</th>
              <th>Description</th>
              <th>Created at</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let user of users">
              <tr>
                <td>
                  {{user.name}}
                </td>
                <td>
                  {{user.description}}
                </td>
                <td>
                  {{user.created_at}}
                </td>
              <td>

                <button class="btn btn-outline-danger px-3 py-1"  type="button" (click)="getDetail(user.id)"><i  class="fa fa-edit"></i> Detail </button>
              </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="navigation-table-content " id="navigation_user">
          <a class="caret next" id="next_user"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                                  class="fa fa-caret-right ic_next next_hover m-2"></i></a>
          <span class="pagin m-2" id="pagin_user" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
          <a class="caret prev" id="prev_user"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                                  class="fa fa-caret-left ic_prev m-2"></i></a>
          <br>
          <br>
        </div>
      </div>

    </div>
  </div>
  <!-- End show content-->
  <!--End content right-->
</div>
<!--Modal Add Zone-->
<div class="modal fade modal_fade_insight" id="modalZone" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: inline-block;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"> Add Location</h2>
      </div>
      <div class="modal-body">
        <form id="addForm" style="width: 100%">
          <div class="col-md-12 box add_user">
            <div class="">
              <div class="box-header p-2 pt-3 pb-3">
                <h3 class="box-title update">

                </h3>
              </div>
              <input type="hidden" id="id" value="">
              <div class="box-body m-2">
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" name="code" id="code_zone" #location class="form-control" placeholder="Location...">
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <textarea name="description" id="description" #description class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label>Color</label>
                  <input type="color" name="zone_color" id="zone_color" #color class="d-inline-block ml-3" value="#e66465"
                         style="height: 44px;">
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                (click)="addUser(location, description, color)"
                class="btn btn_add_page_setting btn_add_zone" data-dismiss="modal">Add Location
        </button>
      </div>
    </div>

  </div>
</div>
