<img src="{{infor.file}}" class="avatar avatar-office mr-2"  alt="Avatar image" [style.border-color]="infor.color"  onclick="openNav('#member-detail'),closeNav('#list-profile')"  >

<div id="member-detail" class="sidenav w-100">
            <div class="sideBarSearch d-flex justify-content-end m-5">
                <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary" onclick="closeNav('#member-detail')">×</a>
            </div>
            <div class="p-5" >
                <div class="member-infor-detail d-flex" >
                    <img src="{{infor.file}}" [style.border-color]="infor.color" alt="Avatar Mr-bean" class="avatar mr-3">
                    <div class="more-detail text-left">
                        <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                        <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                        <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                        <span class="sub-name h4 m-0">{{infor.email}}</span>
                    </div>
                </div>
                <div class="dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                    <div class="title mr-4">DOB</div>
                    <div class="dateofbirth bold">{{infor.birthday}}</div>
                </div>
                <div class="contact py-3 contact-detail h4 d-flex justify-content-center">
                    <div class="title mr-4">Contact</div>
                    <div class="list-number d-inline-block">
                        <div class="number bold d-block">{{infor.contract_no}}</div>
                    </div>
                </div>
                <div class="top-favorite mt-4">
                    <div class="my-4 favarite-title h4 text-left" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                    <!-- each favorite -->
                    <ng-container *ngFor="let fv of infor.detailfavorite">
                    <div class="each-favorite d-flex align-items-center h5">
                        <div class="title">{{fv.favorite.name}}</div>
                        <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                        <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}}%</span>
                    </div>
                    <!-- each favorite -->
                  </ng-container>
                    <!-- each favorite -->
                </div>
                <!-- button Send Email-->
                <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember" onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPerson()">
                    More Details
                    <img class="ml-3" src="./assets/images/icon/ico_right_slide.png" alt="">
                </div>
                <!-- button Send Email-->
            </div>
        </div>
<!--Modal Box detail porfile-->
 <!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMember" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right" >
                                        <div class="member-infor-detail d-flex" >
                                            <img src="{{infor.file}}" alt="Avatar Mr-bean" class="avatar mr-4" [style.border-color]="infor.color">
                                            <div class="more-detail text-left">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                                                <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                                                <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                                                <span class="sub-name text-muted h4 m-0">{{infor.email}}</span>
                                            </div>
                                        </div>
                                        <div class="dob py-3 contact-detail mt-4 h4">
                                            <div class="title mr-4">DOB</div>
                                            <div class="dateofbirth bold">{{infor.birthday}}</div>
                                        </div>
                                        <div class="contact py-3 contact-detail h4">
                                            <div class="title mr-4">Contact</div>
                                            <div class="list-number d-inline-block bold">
                                                <div class="number d-block">{{infor.contract_no}}</div>

                                            </div>
                                        </div>
                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                                             <!-- each favorite -->
                                               <ng-container *ngFor="let fv of infor.detailfavorite">
                                               <div class="each-favorite d-flex align-items-center h5">
                                                   <div class="title">{{fv.favorite.name}}</div>
                                                   <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                                                   <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}}%</span>
                                               </div>
                                               <!-- each favorite -->
                                             </ng-container>

                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Day <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Time In <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                                <th scope="col">Zones <img src="./assets/images/icon/ico_sort.png" alt=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of logs ">
                                                <th scope="row">{{log.ngay}}</th>
                                                <td>{{log.gio}}</td>
                                                <td>{{log.zone_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->
