#modal-addPromo .carousel-item .content-item_01 .sub_templates_demo {
  height: 70px;
  position: absolute;
  width: 62%;
  left: 50%;
  transform: translateX(-50%);
  top: -82px; }
  #modal-addPromo .carousel-item .content-item_01 .sub_templates_demo .sub_template {
    background: gray;
    width: 46%;
    height: 100%;
    float: left;
    margin-right: 5px; }

#cke_1_contents {
  height: 65px !important; }

/*# sourceMappingURL=feed.css.map */
