<div class="show-content-right mt-5">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-uppercase active " id="clubhouse-tab" data-toggle="tab" href="#clubhouse" role="tab"
         aria-controls="clubhouse" aria-selected="true"> InSight Ads</a>
    </li>
    <!--<li class="nav-item">-->
    <!--<a class="nav-link text-uppercase " id="external-tab" data-toggle="tab" href="#external" role="tab"-->
    <!--aria-controls="external" aria-selected="false"> EXTERNAL</a>-->
    <!--</li>-->
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>
  </ul>
  <div class="tab-content rounded" id="myTabContent">
    <app-loading-waiting *ngIf="isLoadingCalendar"></app-loading-waiting>
    <div class="tab-pane fade show active " id="clubhouse" role="tabpanel" aria-labelledby="clubhouse-tab">
      <div class="feed-content" id="feed-content">
        <div id="calendar" style="margin-top: 10px"></div>
        <!---->
        <div class="card_list">
          <!--Repeat-->
          <div class="list-calendar">
            <ng-container *ngFor="let item of dataMonth">
              <div class="one-moth">
                <h2 class="month">{{item.title}}</h2>
                <div class="row mt-5">
                  <div class="col-6 item_card mb-3" *ngFor="let event of item.event">
                    <div class="row ml-4">
                      <div class="col-12 ">
                        <div class="row item_list" (click)="getIdEventMonth(event.id)" [attr.data-type]="event.type"
                             [attr.data-template]="event.template_id">
                          <div class="col-4" style="padding: 0 7px">
                            <img src="{{event.file}}" style="width: 140px;height: 100px">
                          </div>
                          <div class="col-6 content_card">
                            <span style="font-weight: bold;font-size: 1.25rem; display: block">{{event.title}}</span>
                            <span [innerHTML]="event.feed_emoji | safe: 'html'"></span>
                          </div>
                          <div class="col-2">
                            <img class="remove_item" style="float: right" src="./assets/images/icon/close.png"
                                 (click)="deleteEvent(event.id)">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pr-0 mt-2">
                        <span style="font-weight: bold;color:#b1acac91; font-size: 14px; float: right">{{event.date_start | date:'dd MMM  h:mm a'}} - {{event.date_end | date:'dd MMM h:mm a'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-5 mb-3">
                  <div class="col-2 offset-5" style="height: 5px;background-color:#eae6e6"></div>
                </div>
              </div>

            </ng-container>
          </div>
          <!--Repeat-->
        </div>
      </div>


    </div>
    <div class="tab-pane fade" id="external" role="tabpanel" aria-labelledby="external-tab">
    </div>
  </div>
</div>

<!--modal Add Promo-->
<div class="modal fade modal_fade_insight" id="modal-addPromo">
  <div class="modal-dialog modal-lg" style="    min-width: 800px;">
    <div class="modal-content" name="form-addFeed">
      <div class="modal-header" id="modal_head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeAddPromo"
                style="transform: translate(-15px,20px);">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title d-inline-block" style="transform: translate(30px, -20px)">{{titlePromo}}</h4>
      </div>
      <div class="modal-body" style="min-height: 560px;">
        <!-- add promo content-->
        <div id="carouselAddPromo" class="carousel slide carousel-fade h-100" data-ride="carousel">
          <div class="carousel-indicators" style="left: 50px;">
            <div data-target="#carouselAddPromo" data-slide-to="0" class="active step disableDiv" id="step1">1</div>
            <div data-target="#carouselAddPromo" data-slide-to="1" class="step disableDiv" id="step2">2</div>
            <div data-target="#carouselAddPromo" data-slide-to="2" class="step disableDiv" id="step3">3</div>
            <div data-target="#carouselAddPromo" data-slide-to="3" class="step disableDiv" id="step4">4</div>
            <div data-target="#carouselAddPromo" data-slide-to="4" class="step disableDiv" id="step5">5</div>
            <div data-target="#carouselAddPromo" data-slide-to="5" class="step disableDiv" id="step6">6</div>
          </div>

          <div class="carousel-inner" style="overflow: unset;">
            <!-- STEP 1-->
            <div class="carousel-item active text-center">
              <div class="content-promo content-promo--01 row m-0  px-5 pt-5  ml-3">
                <ng-container *ngFor="let temp of templates; let i = index">
                  <div class=" content-item content-item_01 p-0 m-1 mr-3 mt-3"
                       (click)="getTemplateInfo(temp.id, temp.file)"
                       id="{{temp.id}}" (mouseover)="checkHoverTemplate(temp.id)"
                       (mouseleave)="checkLeaveTemplate(temp.id)">
                    <img src="{{temp.file}}" alt="" class="w-100 h-100 mb-3">
                    Template {{i+1}}
                    <div class="sub_templates_demo d-none mt-1" id="subTemplates_{{temp.id}}">
                      <ng-container *ngFor="let temp of templatesDemo">
                        <div class="sub_template">
                          <img src="{{temp.file}}" alt="" class="sub_image w-100 h-100">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <!-- STEP 2-->
            <div class="carousel-item">
              <!--first template-->
              <div class="content-promo content-promo--02 row m-0  px-5  ml-3 row ">
                <div class=" content-item p-0 m-0 col-4 template_demo_02 left">
                  <!--Top template-->
                  <!--template left-->
                  <div class="top w-100">
                    <img class="img_login_template img_template" onerror="this.style.display='none'"
                         src="">
                    <div class="name_template d-inline-block btn button_template" [innerHTML]="loginPromo.name"
                         title="{{loginPromo.name}}"></div>
                    <div class="phone_tempalte d-inline-block btn button_template" [innerHTML]="loginPromo.phone"
                         title="{{loginPromo.phone}}"></div>
                    <div
                      class="url_link_text_template d-inline-block text-white d-flex align-items-center justify-content-center">
                      <input type="checkbox" class="mr-2">
                      <div [innerHTML]="loginPromo.term_condition" id="term_template"
                           class="text-white term_template">
                      </div>
                    </div>
                    <div class="button_template_promo d-inline-block btn button_template bg-light text-black-50"
                         [innerHTML]="loginPromo.button" title="{{loginPromo.button}}"></div>
                    <div class=" gradient_login_check w-100 h-100"
                         style="z-index: 1;position: absolute;top: 0;left:0;">
                      <img src="" alt="" class="gradient_login w-100 h-100">
                    </div>
                  </div>

                  <!--end template left-->
                </div>
                <!--template right-->
                <div class=" content-item p-0 m-0 col-8 template_demo_02 right pr-3">
                  <!--Top Template-->
                  <div class="custom-file-promo">
                    <div class="input-group mb-3">
                      <!--Add image-->
                      <div class="img w-100">
                        <input type="radio" name="background-image-landing" class="choose_radio" checked
                               id="check_image_login_template"
                               (click)="chooseImage(1,'.gradient_login_check')">
                        <div class="right choose-image pl-5">
                          <label  class="text-uppercase d-block w-100 label ">bg
                            Image</label>
                          <div
                            class="custom-file d-flex justify-content-center align-items-center {{isChooseImageLoginTemplate}}"
                            style="clear: left">
                            <input type="file" class="custom-file-input {{isChooseImageLoginTemplate}}"
                                   id="filePromo_login_template"
                                   accept="image/*"
                                   onchange="readURLFileTemplate(1,this,'.img_login_template','#lable-file-login_template');"
                                   (change)="checkImageTemplate(fileLogin,1)"
                                   #fileLogin>
                            <label class="custom-file-label {{isChooseImageLoginTemplate}}" for="filePromo_login_template"
                                   id="lable-file-login_template" style="">Upload
                              image</label>
                            <label
                              class="w-25 button-file-promo h-100 btn-outline-light btn mb-0 {{isChooseImageLoginTemplate}}"
                              for="filePromo_login_template">Browser</label>
                          </div>
                          <div *ngIf="!isLoginImage">
                            <div class="text-danger" style="font-family: KPMGBold; font-size:10px">
                              Please import picture with width >= 900px and height >= 1600px.
                            </div>
                          </div>
                          <div class="note d-inline-block" id="click_note_login"><i
                            class="fas fa-exclamation-circle click_note"
                            (click)="getImgTemplateDemo(1)"></i>
                            Sample Background: width >= 900px && height >= 1600 px.
                            <div class="content-note d-none p-3" id="content-note-login">
                              <div class="text">Sample Background <span
                                class="text-bold">width >= 900px && height >= 1600px</span>
                              </div>
                              <div class="example_image">
                                <img src="./assets/images/template_insight/login_finals.png" alt=""
                                     class="img_examples"/>
                              </div>
                              <div class="download_example">
                                <a href="./assets/images/template_insight/login_finals.png" target="_blank"
                                   class="text-uppercase link_download d-inline-block mt-3"
                                   download> download this template <i class="fas fa-download ml-2"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Add image-->
                      <!--Choose Gradient-->
                      <div class="choose_gradient mt-3 w-100">
                        <input type="radio" name="background-image-landing" class="choose_radio"
                               id="check_gradient_login_template"
                               (click)="chooseRadient(1,'.gradient_login_check')">
                        <div class="right pl-5">
                          <label class="text-uppercase d-block w-100 label">Gradient</label>
                          <div class="group_gradient {{isChooseRadientLoginTemplate}}">
                            <ng-container *ngFor="let item of gradientImage">
                              <div class="gradient_item gradient_landing  mr-3 d-inline-block "
                                   id="gradient_login_template_{{item.id}}"
                                   (click)="gradientChoosedAction(1,'.gradient_login',item.url, item.id)">
                                <img src="{{item.url}}" alt="" class=" w-100 h-100">
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!--Choose Gradient-->
                      <!--Group content Template-->
                      <div class="input_content_layout w-100 mt-4 ">
                        <input type="radio" name="choose_input_login" checked class="choose_radio">
                        <div class="group_content_template  pt-4 ml-5">
                          <!-- input header-->
                          <div class="right">
                            <!--input header-->
                            <div class="one_input mb-2">
                              <label class=" d-block w-100 label mb-0">FULL NAME <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Full name..."
                                       [(ngModel)]="loginPromo.name"
                                       (ngModelChange)="checkLengthString(1,full_name, 34 , 1);"
                                       #full_name
                                       name="header top">
                              </div>
                            </div>
                            <!--end input header-->
                            <!--input sub Tile-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">PHONE NUMBER <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Phone number..."
                                       [(ngModel)]="loginPromo.phone"
                                       (ngModelChange)="checkLengthString(1,phone_number, 34 , 2);"
                                       #phone_number
                                       name="header top">
                              </div>
                            </div>
                            <!--end input subtitle-->

                            <!--url text-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">LINK TEXT<span class="normal-color ml-2"></span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader  mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Link text..."
                                          [(ngModel)]="loginPromo.link_text"
                                          ngDefaultControl
                                          #url_text
                                          name="link_text" id="link_text">
                                </textarea>
                              </div>
                            </div>
                            <!--url text-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">TERM AND CONDITION CONTENT<span
                                class="normal-color ml-2"></span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Term and condition content..."
                                          [(ngModel)]="loginPromo.term_condition"
                                          #term_condition
                                          ngDefaultControl
                                          name="term_condition" id="term_condition">
                                </textarea>
                              </div>
                            </div>
                            <!--url text-->
                            <!--input button-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">BUTTON NAME<span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader d-inline-block mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Button name..."
                                          [(ngModel)]="loginPromo.button"
                                          (ngModelChange)="checkLengthString(1,description_02,34 ,3)"
                                          #description_02
                                          name="header top">
                                </textarea>
                              </div>
                            </div>
                            <!--link url text-->
                          </div>
                        </div>
                      </div>
                      <!--Group content Template-->
                      <!--<button class="btn  text-uppercase btn_save_template" (click)="addPromo()"> Save</button>-->
                    </div>
                  </div>
                  <!--<button class="btn  text-uppercase btn_save_template"> Save</button>-->
                </div>
                <!--end template right-->
              </div>
            </div>
            <!-- End Step 2-->
            <!-- STEP 3-->
            <div class="carousel-item">
              <!--second template-->
              <div class="content-promo content-promo--02 row m-0  px-5  ml-3 row " id="template_03">
                <div class=" content-item p-0 m-0 col-4 template_demo_02 left"
                     id="template_demo_02">
                  <!--Top template-->
                  <!--template left-->
                  <div class="top w-100" id="top_tempalte_02">
                    <img class="img_landing_template img_template" onerror="this.style.display='none'"
                         src="">
                    <!--content template 02-->
                    <div *ngIf="!isTemplate01" class="feed_content text-center">
                      <h3 class="title mb-0">ALTAMEDIA</h3>
                      <p class="content_tempalte w-100">Cho thuê màn hình LED cho các sự kiện,
                        chương trình lễ hội, gameshow... Tuyên bố quyền sở hữu và quyền tác giả
                        COPYRIGHT by ALTA MEDIA
                    </div>
                    <div *ngIf="!isTemplate01" class=" img_content">
                      <img src="./../../../../../../assets/images/template_insight/img_content.png" alt=""
                           class="img-fluid">
                    </div>
                    <!--end content template 02-->
                    <!--content template 01-->
                    <div *ngIf="isTemplate01" class="advertise_template  d-inline-block btn  text-black-50 p-0">
                      <div class="text_left text-center">
                        <h3 class="title mb-0">ALTAMEDIA</h3>
                        <p class="content_tempalte w-100">Cho thuê màn hình LED cho các sự kiện,
                          chương trình lễ hội, gameshow...
                        </p>
                      </div>
                      <div class="advertise_peace">
                        <img src="./assets/images/template_insight/img_temp_01_landing.png" alt="" class="img-fluid">
                      </div>
                    </div>
                    <!--end content template 01-->

                    <div
                      class="link_text_template link_text_template_landing   d-inline-block btn button_template bg-light text-black-50"
                      [innerHTML]="landingPagePromo.button" title="{{landingPagePromo.button}}"></div>
                    <div class="gradient_landing_check w-100 h-100"
                         style="z-index: 1;position: absolute;top: 0;left:0;">
                      <img src="" alt="" class="gradient_landing_template w-100 h-100">
                    </div>
                  </div>

                  <!--end template left-->
                </div>
                <!--template right-->
                <div class=" content-item p-0 m-0 col-8 template_demo_02 right pr-3">
                  <!--Top Template-->
                  <div class="custom-file-promo">
                    <div class="input-group mb-3">
                      <!--Add image-->
                      <div class="img w-100">
                        <input type="radio" name="background-image-template02" class="choose_radio" checked
                               id="check_image_landing"
                               (click)="chooseImage(2,'.gradient_landing_check')">
                        <div class="right choose-image pl-5">
                          <label  class="text-uppercase d-block w-100 label ">bg
                            Image</label>
                          <div
                            class="custom-file d-flex justify-content-center align-items-center {{isChooseImageLanding}}"
                            style="clear: left">
                            <input type="file" class="custom-file-input {{isChooseImageLanding}}"
                                   id="filePromo_landing_template"
                                   accept="image/*"
                                   onchange="readURLFileTemplate(2,this,'.img_landing_template','#lable-file-promo_02');"
                                   (change)="checkImageTemplate(fileLanding,2)"
                                   #fileLanding>
                            <label class="custom-file-label {{isChooseImageLanding}}"
                                   for="filePromo_landing_template"
                                   id="lable-file-promo_02" style="">Upload
                              image</label>
                            <label
                              class="w-25 button-file-promo h-100 btn-outline-light btn mb-0 {{isChooseImageLanding}}"
                              for="filePromo_landing_template">Browser</label>
                          </div>
                          <div *ngIf="!isLandingImage">
                            <div class="text-danger" style="font-family: KPMGBold; font-size:10px">
                              Please import picture with width >= 900px and height >= 1600px.
                            </div>
                          </div>
                          <div class="note d-inline-block" id="click_note_landing"><i
                            class="fas fa-exclamation-circle click_note"></i>
                            Sample Background: width >= 900px && height >= 1600 px.
                            <div class="content-note d-none p-3" id="content-note-landing">
                              <div class="text">Image need to be saved as <span
                                class="text-bold"> width >= 900px &&  height >= 1600 px.</span>
                              </div>
                              <div class="example_image">
                                <img src="" alt="" class="img_examples" id="img_template_demo_landing"/>
                              </div>
                              <div class="download_example">
                                <a href="" id="img_template_demo_landing_donwload" target="_blank"
                                   class="text-uppercase link_download d-inline-block mt-3"
                                   download> download this template <i class="fas fa-download ml-2"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Add image-->
                      <!--Choose Gradient-->
                      <div class="choose_gradient mt-3 w-100">
                        <input type="radio" name="background-image-template02" class="choose_radio"
                               id="check_gradient_landing"
                               (click)="chooseRadient(2,'.gradient_landing_check')">
                        <div class="right pl-5">
                          <label class="text-uppercase d-block w-100 label">Gradient</label>
                          <div class="group_gradient {{isChooseRadientLanding}}">
                            <ng-container *ngFor="let item of gradientImage">
                              <div class="gradient_item gradient_login_template  mr-3 d-inline-block "
                                   id="gradient_landing_{{item.id}}"
                                   (click)="gradientChoosedAction(2,'.gradient_landing_template',item.url, item.id)">
                                <img src="{{item.url}}" alt="" class=" w-100 h-100">
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!--Choose Gradient-->
                      <!--Group content Template-->
                      <div class="input_content_layout w-100 mt-4 ">
                        <input type="radio" name="choose_input_landing" checked class="choose_radio">
                        <div class="group_content_template  pt-4 ml-5">
                          <!-- input header-->
                          <div class="right">
                            <!--input header-->
                            <div class="one_input mb-2">
                              <label class=" d-block w-100 label mb-0">BUTTON NAME <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Button name..."
                                       [(ngModel)]="landingPagePromo.button"
                                       (ngModelChange)="checkLengthString(2,button_login, 34 , 3);"
                                       #button_login
                                       name="header top">
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!--<button class="btn  text-uppercase btn_save_template" (click)="addPromo()"> Save</button>-->
                    </div>
                  </div>
                  <!--<button class="btn  text-uppercase btn_save_template"> Save</button>-->
                </div>
                <!--end template right-->
              </div>
            </div>
            <!-- End STEP 3-->
            <!--new step-->
            <!--Step 4-->
            <div class="carousel-item">
              <div class="content-promo content-promo--02 row m-0  px-5  ml-3 row ">
                <div class=" content-item p-0 m-0 col-4 template_demo_02 left"
                     id="landing_template">
                  <!--Top template-->
                  <!--template left-->
                  <div class="top w-100" id="top_landing_template">
                    <img class="img_login_desk img_template" onerror="this.style.display='none'"
                         src="">
                    <div class="name_template d-inline-block btn button_template" [innerHTML]="loginDesktop.name"
                         title="{{loginDesktop.name}}"></div>
                    <div class="phone_tempalte d-inline-block btn button_template" [innerHTML]="loginDesktop.phone"
                         title="{{loginDesktop.phone}}"></div>
                    <div
                      class="url_link_text_template d-inline-block text-white d-flex align-items-center justify-content-center">
                      <input type="checkbox" class="mr-2">
                      <div [innerHTML]="loginDesktop.term_condition" id="term_template_desk"
                           class="text-white term_template">
                      </div>
                    </div>
                    <div class="button_template_promo d-inline-block btn button_template bg-light text-black-50"
                         [innerHTML]="loginDesktop.button" title="{{loginDesktop.button}}"></div>
                    <div class=" gradient_login_check_desk w-100 h-100"
                         style="z-index: 1;position: absolute;top: 0;left:0;">
                      <img src="" alt="" class="gradient_login_check_desk w-100 h-100">
                    </div>
                  </div>

                  <!--end template left-->
                </div>
                <!--template right-->
                <div class=" content-item p-0 m-0 col-8 template_demo_02 right pr-3">
                  <!--Top Template-->
                  <div class="custom-file-promo">
                    <div class="input-group mb-3">
                      <!--Add image-->
                      <div class="img w-100">
                        <input type="radio" name="background-image-login_desk" class="choose_radio" checked
                               id="check_image_login_template_desk"
                               (click)="chooseImage(3,'.gradient_login_check_desk')">
                        <div class="right choose-image pl-5">
                          <label  class="text-uppercase d-block w-100 label ">bg
                            Image</label>
                          <div
                            class="custom-file d-flex justify-content-center align-items-center {{isChooseImageLoginDesk}}"
                            style="clear: left">
                            <input type="file" class="custom-file-input {{isChooseImageLoginDesk}}"
                                   id="filePromo_login_template_desk"
                                   accept="image/*"
                                   onchange="readURLFileTemplate(3,this,'.img_login_desk','#lable-file-login_desk');"
                                   (change)="checkImageTemplate(fileLoginDesk,3)"
                                   #fileLoginDesk>
                            <label class="custom-file-label {{isChooseImageLoginDesk}}"
                                   for="filePromo_login_template_desk"
                                   id="lable-file-login_desk" style="">Upload
                              image</label>
                            <label
                              class="w-25 button-file-promo h-100 btn-outline-light btn mb-0 {{isChooseImageLoginDesk}}"
                              for="filePromo_login_template_desk">Browser</label>
                          </div>
                          <div *ngIf="!isLoginImageDesk">
                            <div class="text-danger" style="font-family: KPMGBold; font-size:10px">
                              Please import picture with width >= 1600px and height >= 900px.
                            </div>
                          </div>
                          <div class="note d-inline-block" id="click_note_login_desk"><i
                            class="fas fa-exclamation-circle click_note"
                            (click)="getImgTemplateDemo(1)"></i>
                            Sample Background: width >= 1600px && height >= 900 px.
                            <div class="content-note d-none p-3" id="content-note-login_desk">
                              <div class="text">Sample Background <span
                                class="text-bold">width >= 1600px && height >= 900px</span>
                              </div>
                              <div class="example_image">
                                <img src="./assets/images/template_insight/login-final_desk.png" alt=""
                                     class="img_examples img-fluid  my-auto h-auto" style="top: 15px;"/>
                              </div>
                              <div class="download_example">
                                <a href="./assets/images/template_insight/login-final_desk.png" target="_blank"
                                   class="text-uppercase link_download d-inline-block mt-3"
                                   download> download this template <i class="fas fa-download ml-2"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Add image-->
                      <!--Choose Gradient-->
                      <div class="choose_gradient mt-3 w-100">
                        <input type="radio" name="background-image-login_desk" class="choose_radio"
                               id="check_gradient_login_template_desk"
                               (click)="chooseRadient(3,'.gradient_login_check_desk')">
                        <div class="right pl-5">
                          <label class="text-uppercase d-block w-100 label">Gradient</label>
                          <div class="group_gradient {{isChooseRadientLoginDesk}}">
                            <ng-container *ngFor="let item of gradientImage">
                              <div class="gradient_item gradient_item_login_desk  mr-3 d-inline-block "
                                   id="gradient_login_template_desk_{{item.id}}"
                                   (click)="gradientChoosedAction(3,'.gradient_login_check_desk',item.url, item.id)">
                                <img src="{{item.url}}" alt="" class=" w-100 h-100">
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!--Choose Gradient-->
                      <!--Group content Template-->
                      <div class="input_content_layout w-100 mt-4 ">
                        <input type="radio" name="choose_input_login_desk" checked class="choose_radio">
                        <div class="group_content_template  pt-4 ml-5">
                          <!-- input header-->
                          <div class="right">
                            <!--input header-->
                            <div class="one_input mb-2">
                              <label class=" d-block w-100 label mb-0">FULL NAME <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Full name..."
                                       [(ngModel)]="loginDesktop.name"
                                       (ngModelChange)="checkLengthString(3,full_name_desk, 34 , 1);"
                                       #full_name_desk
                                       name="header top">
                              </div>
                            </div>
                            <!--end input header-->
                            <!--input sub Tile-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">PHONE NUMBER <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Phone number..."
                                       [(ngModel)]="loginDesktop.phone"
                                       (ngModelChange)="checkLengthString(3,phone_number_desk, 34 , 2);"
                                       #phone_number_desk
                                       name="header top">
                              </div>
                            </div>
                            <!--end input subtitle-->

                            <!--url text-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">LINK TEXT<span class="normal-color ml-2"></span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader  mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Link text..."
                                          [(ngModel)]="loginDesktop.link_text"
                                          ngDefaultControl
                                          #url_text_desk
                                          name="link_text_desk" id="link_text_desk">
                                </textarea>
                              </div>
                            </div>
                            <!--url text-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">TERM AND CONDITION CONTENT<span
                                class="normal-color ml-2"></span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Term and condition content..."
                                          [(ngModel)]="loginDesktop.term_condition"
                                          #term_condition_desk
                                          ngDefaultControl
                                          name="term_condition_desk" id="term_condition_desk">
                                </textarea>
                              </div>
                            </div>
                            <!--url text-->
                            <!--input button-->
                            <div class="one_input  mb-2">
                              <label class=" d-block w-100 label mb-0">BUTTON NAME<span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <textarea type="text" class="input_topheader d-inline-block mr-2 area_input" rows="3"
                                          cols="40"
                                          wrap="hard"
                                          style="font-family: KPMG;"
                                          placeholder="Button name..."
                                          [(ngModel)]="loginDesktop.button"
                                          (ngModelChange)="checkLengthString(3,description_02_desk,34 ,3)"
                                          #description_02_desk
                                          name="header top">
                                </textarea>
                              </div>
                            </div>
                            <!--link url text-->
                          </div>
                        </div>
                      </div>
                      <!--Group content Template-->
                      <!--<button class="btn  text-uppercase btn_save_template" (click)="addPromo()"> Save</button>-->
                    </div>
                  </div>
                  <!--<button class="btn  text-uppercase btn_save_template"> Save</button>-->
                </div>
                <!--end template right-->
              </div>
            </div>
            <!-- End Step 4-->
            <!--Step 5-->
            <div class="carousel-item">
              <div class="content-promo content-promo--02 row m-0  px-5  ml-3 row ">
                <div class=" content-item p-0 m-0 col-4 template_demo_02 left">
                  <!--Top template-->
                  <!--template left-->
                  <div class="top w-100">
                    <img class="img_landing_template_desk img_template" onerror="this.style.display='none'"
                         src="">
                    <!--content template 02-->
                    <div *ngIf="!isTemplate01" class="feed_content text-center ">
                      <h3 class="title mb-0">ALTAMEDIA</h3>
                      <p class="content_tempalte w-100 ">Cho thuê màn hình LED cho các sự kiện,
                        chương trình lễ hội, gameshow... Tuyên bố quyền sở hữu và quyền tác giả
                        COPYRIGHT by ALTA MEDIA
                    </div>
                    <div *ngIf="!isTemplate01" class=" img_content">
                      <img src="./../../../../../../assets/images/template_insight/img_content.png" alt=""
                           class="img-fluid">
                    </div>
                    <!--end content template 02-->
                    <!--content template 01-->
                    <div *ngIf="isTemplate01" class="advertise_template  d-inline-block btn  text-black-50 p-0">
                      <div class="text_left text-center for_desktop">
                        <h3 class="title mb-0">ALTAMEDIA</h3>
                        <p class="content_tempalte w-100">Cho thuê màn hình LED cho các sự kiện,
                          chương trình lễ hội, gameshow...
                        </p>
                      </div>
                      <div class="advertise_peace for_desktop">
                        <img src="./assets/images/template_insight/img_temp_01_landing.png" alt="" class="img-fluid">
                      </div>
                    </div>
                    <!--end content template 01-->

                    <div
                      class="link_text_template link_text_template_landing   d-inline-block btn button_template bg-light text-black-50"
                      [innerHTML]="landingDesktop.button" title="{{landingDesktop.button}}"></div>
                    <div class="gradient_landing_template_check_desk w-100 h-100"
                         style="z-index: 1;position: absolute;top: 0;left:0;">
                      <img src="" alt="" class="gradient_landing_template_desk w-100 h-100">
                    </div>
                  </div>

                  <!--end template left-->
                </div>
                <!--template right-->
                <div class=" content-item p-0 m-0 col-8 template_demo_02 right pr-3">
                  <!--Top Template-->
                  <div class="custom-file-promo">
                    <div class="input-group mb-3">
                      <!--Add image-->
                      <div class="img w-100">
                        <input type="radio" name="background-image-landing_desk" class="choose_radio" checked
                               id="check_image_landing_desk"
                               (click)="chooseImage(4,'.gradient_landing_template_check_desk')">
                        <div class="right choose-image pl-5">
                          <label  class="text-uppercase d-block w-100 label ">bg Image</label>
                          <div
                            class="custom-file d-flex justify-content-center align-items-center {{isChooseImageLandingDesk}}"
                            style="clear: left">
                            <input type="file" class="custom-file-input {{isChooseImageLandingDesk}}"
                                   id="image_landing_desk"
                                   accept="image/*"
                                   onchange="readURLFileTemplate(4,this,'.img_landing_template_desk','#lable-image_landing_desk');"
                                   (change)="checkImageTemplate(fileLandingDesk,4)"
                                   #fileLandingDesk>
                            <label class="custom-file-label {{isChooseImageLandingDesk}}" for="image_landing_desk"
                                   id="lable-image_landing_desk" style="">Upload
                              image</label>
                            <label
                              class="w-25 button-file-promo h-100 btn-outline-light btn mb-0 {{isChooseImageLandingDesk}}"
                              for="image_landing_desk">Browser</label>
                          </div>
                          <div *ngIf="!isLandingImageDesk">
                            <div class="text-danger" style="font-family: KPMGBold; font-size:10px">
                              Please import picture with width >= 1600px and height >= 900px.
                            </div>
                          </div>
                          <div class="note d-inline-block" id="click_note_landing_desk"><i
                            class="fas fa-exclamation-circle click_note"></i>
                            Sample Background: width >= 1600px && height >= 900 px.
                            <div class="content-note d-none p-3" id="content-note-landing_desk">
                              <div class="text">Image need to be saved as <span
                                class="text-bold"> width >= 1600px &&  height >= 900 px.</span>
                              </div>
                              <div class="example_image">
                                <img src="" alt="" class="img_examples img-fluid h-auto " style="top: 15px;"
                                     id="img_template_demo_landing_desk"/>
                              </div>
                              <div class="download_example">
                                <a href="" id="landing_donwload_desk" target="_blank"
                                   class="text-uppercase link_download d-inline-block mt-3"
                                   download> download this template <i class="fas fa-download ml-2"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Add image-->
                      <!--Choose Gradient-->
                      <div class="choose_gradient mt-3 w-100">
                        <input type="radio" name="background-image-landing_desk" class="choose_radio"
                               id="check_gradient_landing_desk"
                               (click)="chooseRadient(4,'.gradient_landing_template_check_desk')">
                        <div class="right pl-5">
                          <label class="text-uppercase d-block w-100 label">Gradient</label>
                          <div class="group_gradient {{isChooseRadientLandingDesk}}">
                            <ng-container *ngFor="let item of gradientImage">
                              <div class="gradient_item gradient_landing_desk  mr-3 d-inline-block "
                                   id="gradient_landing_desk_{{item.id}}"
                                   (click)="gradientChoosedAction(4,'.gradient_landing_template_desk',item.url, item.id)">
                                <img src="{{item.url}}" alt="" class=" w-100 h-100">
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <!--Choose Gradient-->
                      <!--Group content Template-->
                      <div class="input_content_layout w-100 mt-4 ">
                        <input type="radio" name="choose_input_landing_desk" checked class="choose_radio">
                        <div class="group_content_template  pt-4 ml-5">
                          <!-- input header-->
                          <div class="right">
                            <!--input header-->
                            <div class="one_input mb-2">
                              <label class=" d-block w-100 label mb-0">BUTTON NAME <span class="normal-color ml-2">34 characters</span></label>
                              <div class="w-100 d-flex align-items-center">
                                <input type="text" class="input_topheader d-inline-block mr-2 "
                                       style="font-family: KPMG;"
                                       placeholder="Button name..."
                                       [(ngModel)]="landingDesktop.button"
                                       (ngModelChange)="checkLengthString(4,button_landing_desk, 34 , 3);"
                                       #button_landing_desk
                                       name="header top">
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!--<button class="btn  text-uppercase btn_save_template" (click)="addPromo()"> Save</button>-->
                    </div>
                  </div>
                  <!--<button class="btn  text-uppercase btn_save_template"> Save</button>-->
                </div>
                <!--end template right-->
              </div>
            </div>
            <!--End Step 5-->
            <!--new step-->
            <!-- STEP 6-->
            <div class="carousel-item">
              <div class="content-promo content-promo--02 content-promo--03 row m-0  px-5  ml-3 row ">
                <div class=" content-item p-0 m-1 col-4 template_demo_02 "
                     style="margin-right: 1.8rem!important;border: 1px solid #61555554;">
                  <!--<div class="top w-100">-->
                  <!--<img class="img_last_template w-100 h-100" src="">-->
                  <!--<div class="gradient_template_02 w-100 h-100"-->
                  <!--style="z-index: 1;position: absolute;top: 0;left:0;">-->
                  <!--<img src="" alt="" class="gradient_template_02 w-100 h-100">-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="top w-100">
                    <img class="img_landing_template img_template" onerror="this.style.display='none'"
                         src="">
                    <!--content template 02-->
                    <div *ngIf="!isTemplate01" class="feed_content text-center">
                      <h3 class="title mb-0">ALTAMEDIA</h3>
                      <p class="content_tempalte w-100">Cho thuê màn hình LED cho các sự kiện,
                        chương trình lễ hội, gameshow... Tuyên bố quyền sở hữu và quyền tác giả
                        COPYRIGHT by ALTA MEDIA
                    </div>
                    <div *ngIf="!isTemplate01" class=" img_content">
                      <img src="./../../../../../../assets/images/template_insight/img_content.png" alt=""
                           class="img-fluid">
                    </div>
                    <!--end content template 02-->
                    <!--content template 01-->
                    <div *ngIf="isTemplate01" class="advertise_template  d-inline-block btn  text-black-50 p-0">
                      <div class="text_left text-center">
                        <h3 class="title mb-0">ALTAMEDIA</h3>
                        <p class="content_tempalte w-100">Cho thuê màn hình LED cho các sự kiện,
                          chương trình lễ hội, gameshow...
                        </p>
                      </div>
                      <div class="advertise_peace">
                        <img src="./assets/images/template_insight/img_temp_01_landing.png" alt="" class="img-fluid">
                      </div>
                    </div>
                    <!--end content template 01-->

                    <div
                      class="link_text_template link_text_template_landing   d-inline-block btn button_template bg-light text-black-50"
                      [innerHTML]="landingPagePromo.button" title="{{landingPagePromo.button}}"></div>
                    <div class="gradient_login_template_check w-100 h-100"
                         style="z-index: 1;position: absolute;top: 0;left:0;">
                      <img src="" alt="" class="gradient_landing_template w-100 h-100">
                    </div>
                  </div>
                </div>
                <div class=" content-item p-0 m-1 col-7  pl-4 ">
                  <div class="content-03 w-75">
                    <input type="text" class="input_launch d-inline-block mr-2 mb-3" placeholder="Title" #title_promo
                           id="title_promo"
                           (keyup)="checkForStep3(title_promo)">
                    <div class="input-group date_feed p-0 my-3">
                      <input type="text" id="start_day_promo" class="form-control datepicker "
                             style="padding-left: 10px;"
                             placeholder="Start Date" #date_start_promo name="date-start"
                             (change)="checkDateTemplatePromo(date_start_promo.value, date_end_promo.value,time_start_promo.value, time_end_promo.value)">
                      <div class="input-group-addon">
                        <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                      </div>
                    </div>
                    <div class="input-group date_feed p-0 my-3">
                      <input type="text" id="end_day_promo" class="form-control datepicker" style="padding-left: 10px;"
                             placeholder="End Date" #date_end_promo name="date-end"
                             (change)="checkDateTemplatePromo(date_start_promo.value, date_end_promo.value,time_start_promo.value, time_end_promo.value)">
                      <div class="input-group-addon">
                        <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
                      </div>
                    </div>
                    <div class="row group-time mx-0">
                      <div class=" input-group date_feed p-0 mr-2 my-3" style="width: 49%;">
                        <input type="text" class="form-control timepicker" id="time_start_promo"
                               style="padding-left: 10px;" placeholder="Start Time" #time_start_promo
                               name="time-start">
                        <div class="input-group-addon">
                          <i class="far fa-clock" style="font-size: 25px;"></i>
                        </div>
                      </div>
                      <div class=" input-group date_feed p-0 my-3" style="width: 48%;">
                        <input type="text" class="form-control timepicker" #time_end_promo id="time_end_promo"
                               style="padding-left: 10px;" placeholder="End Time" name="time-end">
                        <div class="input-group-addon">
                          <i class="far fa-clock" style="font-size: 25px;"></i>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="!checkDateTemplatePromo(date_start_promo.value, date_end_promo.value,time_start_promo.value, time_end_promo.value)">
                      <div class="text-muted" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
                    </div>

                  </div>


                  <!--button add and update template 02-->
                  <button *ngIf="!isUpdatePromo"
                          class="btn  text-uppercase btn_save_template btn_launch disableDiv launch_promo_action 2 "
                          [disabled]="!checkDateTemplatePromo(date_start_promo.value, date_end_promo.value,time_start_promo.value, time_end_promo.value)"
                          (click)="addPromoTemplate( fileLogin,fileLanding,fileLoginDesk, fileLandingDesk, title_promo,date_start_promo, date_end_promo,time_start_promo,time_end_promo)">
                    Add Template
                  </button>
                  <button *ngIf="isUpdatePromo"
                          class="btn  text-uppercase btn_save_template btn_launch disableDiv launch_promo_action 2"
                          [disabled]="!checkDateTemplatePromo(date_start_promo.value, date_end_promo.value,time_start_promo.value, time_end_promo.value)"
                          (click)="updatePromoTemplate(fileLogin,fileLanding,fileLoginDesk, fileLandingDesk, title_promo,date_start_promo, date_end_promo,time_start_promo,time_end_promo)">
                    Update
                  </button>


                </div>
              </div>
            </div>
            <!-- END STEPS 6-->
            <a class="carousel-control-prev carousel_control d-none" href="#carouselAddPromo"
               role="button" data-slide="prev">
              <span class="left carousel-control carousel-control-prev-icon" aria-hidden="false"
                    style="background: transparent;"><i
                style="color: black;transform: translateY(22px);" class="fa fa-chevron-left btn-change-slide"
                aria-hidden="true"></i></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next d-none carousel_control" style="right: -36px;" id="carouseStep3"
               href="#carouselAddPromo"
               role="button" data-slide="next">
              <span class="right carousel-control carousel-control-next-icon" aria-hidden="true"
                    style="background: transparent;"><i
                style="color: black;transform: translateY(22px);" class="fa fa-chevron-right btn-change-slide"
                aria-hidden="true"></i></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!-- end over view-->
        </div>
        <!-- add promo content-->
      </div>
    </div>
  </div>
</div>
<!--End modal add feed promo -->

<!--modal Add Feed-->
<div class="modal fade modal_fade_insight" id="modal-addfeed">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" name="form-addFeed">
      <div class="modal-header" id="modal_head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Insight</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div id="add_image_add_feed">
              <label for="margin" style="margin-bottom: 0"><img class="blah0_addFeed" src=""></label>
              <img class="m-5 blah0_addFeed_plus_img" id="plus_img" src="./assets/images/icon/maximise%20grey.png">
              <div class="mb-3 " id="btn_addimg" style="margin-top: 11px;">
                <!--<button type="button" id="add_img">ADD IMAGE</button>-->
                <label id="add_img" for="margin" class="blah0_addFeed_add_img">ADD IMAGE</label>
                <input type="file" id="margin" class="add_img" name="margin" accept="image/*"
                       onchange="readURL(this,'.blah0_addFeed');" (change)="checkImageFeed()" style="display: none"
                       #file_img>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Title" id="title" [(ngModel)]="feed.title"
                       name="title" #title>
              </div>
              <div class="col-12 mt-4">
                <!-- <textarea class="form-control" placeholder="Description" rows="6" id="description" [(ngModel)]="feed.description" name="description" #description></textarea>-->
                <div class="" style="position: relative;">
                  <div contenteditable style="resize: vertical;padding-right: 37px" id="content_chat_addFeed"
                       class="mt-1" placeholder="Description"></div>
                  <div style="position: absolute;top:5px;right: 35px">
                    <button type="button" class="btn btn-info" id="btn_icon_addFeed" data-toggle="collapse"
                            data-target="#emoji_custom_addFeed"></button>
                    <div class="emoji_box" id="emoji_box_addFeed">
                      <div id="emoji_custom_addFeed" class="collapse">
                        <div id="content_icon" class="emoji-mart-scroll-addFeed">

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="start_day" class="form-control datepicker" style="padding-left: 10px;"
                     placeholder="Start Date" #date_start (change)="checkDateEvent(date_start.value, date_end.value)"
                     [(ngModel)]="feed.date_start" name="date-start">
              <div class="input-group-addon">
                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="end_day" class="form-control datepicker" style="padding-left: 10px;"
                     placeholder="End Date" #date_end (change)="checkDateEvent(date_start.value, date_end.value)"
                     [(ngModel)]="feed.date_end" name="date-end">
              <div class="input-group-addon">
                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="time_start" class="form-control timepicker" style="padding-left: 10px;"
                     placeholder="Start Time" #time_start [(ngModel)]="feed.time_start" name="time-start">
              <div class="input-group-addon">
                <i class="far fa-clock" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="time_end" class="form-control timepicker" style="padding-left: 10px;"
                     placeholder="End Time" #time_end [(ngModel)]="feed.time_end" name="time-end">
              <div class="input-group-addon">
                <i class="far fa-clock" style="font-size: 25px;"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span>Preference Tags </span>
            <select class="js-example-basic-multiple myTags" id="favorite_feed" style="width: 100%;" name="states[]"
                    #favorite multiple="multiple"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" id="add_feed" data-dismiss="modal"
                (click)="addFeed(file_img,date_start,date_end,time_start,time_end,favorite)"
                [disabled]="!checkDateEvent(date_start.value, date_end.value) || !isFeedImage">Add Insight
        </button>
        <div *ngIf="!checkDateEvent(date_start.value, date_end.value)">
          <div class="text-danger" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
        </div>
        <div *ngIf="!isFeedImage">
          <div class="text-danger" style="font-family: KPMGBold;"> Please import
            picture of 256px in width and 144px in height.
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
<!--End modal add feed -->


<div class="modal fade modal_fade_insight" id="modal-updateFeed">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" name="form-addFeed">
      <div class="modal-header" id="modal_head">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update F.R.E.D</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div id="add_image_update_feed" class="h-200">
              <label for="margin_update" class="h-100" style="margin-bottom: 0"><img
                class="blah0_updateFeed w-100 h-100" id="img_file"
                src=""></label>
              <img class="m-5 blah0_updateFeed_plus_img" id="plus_img" src="./assets/images/icon/maximise%20grey.png">
              <div class="mb-3 d-flex justify-content-center align-items-center" id="btn_addimgUpdate"
                   style="margin-top: 11px;">
                <label id="update_img" class="blah0_updateFeed_add_img" for="margin_update">ADD IMAGE</label>
                <input type="file" id="margin_update" class="add_img" name="margin" accept="image/*"
                       onchange="readURL(this,'.blah0_updateFeed');" (change)="checkImageFeed()" style="display: none"
                       #file_img_update [(ngModel)]="updateFeed.file">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Title" id="title_update"
                       [(ngModel)]="updateFeed.title" name="title">
              </div>
              <div class="col-12 mt-4">
                <!-- <textarea class="form-control" placeholder="Description" rows="6" id="description_update" [(ngModel)]="updateFeed.description" name="description"></textarea>-->
                <div class="" style="position: relative;">
                  <div contenteditable style="resize: vertical;padding-right: 37px" id="content_chat_updateFeed"
                       class="mt-1" placeholder="Description"></div>
                  <div style="position: absolute;top:5px;right: 35px">
                    <button type="button" class="btn btn-info" id="btn_icon_addFeed" data-toggle="collapse"
                            data-target="#emoji_custom_updateFeed"></button>
                    <div class="emoji_box" id="emoji_box_updateFeed">
                      <div id="emoji_custom_updateFeed" class="collapse">
                        <div id="content_icon" class="emoji-mart-scroll-updateFeed">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="date_start_update" class="form-control datepicker" style="padding-left: 10px;"
                     placeholder="Start Date" #date_start_update [(ngModel)]="updateFeed.date_start" name="date-start">
              <div class="input-group-addon">
                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="date_end_update" class="form-control datepicker" style="padding-left: 10px;"
                     placeholder="End Date" #date_end_update [(ngModel)]="updateFeed.date_end" name="date-end">
              <div class="input-group-addon">
                <i class="far fa-calendar-alt" style="font-size: 25px;"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="time_start_update" class="form-control timepicker" style="padding-left: 10px;"
                     placeholder="Start Time" #time_start_update [(ngModel)]="updateFeed.time_start" name="date-start">
              <div class="input-group-addon">
                <i class="far fa-clock" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group date_feed">
              <input type="text" id="time_end_update" class="form-control timepicker" style="padding-left: 10px;"
                     placeholder="End Time" #time_end_update [(ngModel)]="updateFeed.time_end" name="date-end">
              <div class="input-group-addon">
                <i class="far fa-clock" style="font-size: 25px;"></i>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <span>Preference Tags </span>
            <select class="js-example-basic-multiple myTags" id="favorite_feedUpdate"
                    style="width: 100%;border: 1px solid #d9d9d9;" name="states[]" #favorite_update
                    multiple="multiple"></select>
          </div>
        </div>

      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" id="update_feed" data-dismiss="modal"
                (click)="updateFeedAction(file_img_update,date_start_update,date_end_update,time_start_update, time_end_update)"
                [disabled]="!checkDateEvent(date_start_update.value, date_end_update.value) || !isFeedImage">UPDATE
        </button>
        <div *ngIf="!checkDateEvent(date_start_update.value, date_end_update.value) ">
          <div class="text-danger" style="font-family: KPMGBold;">Date End Can Not Before Date Start</div>
        </div>
        <div *ngIf="!isFeedImage">
          <div class="text-danger" style="font-family: KPMGBold;"> Please import
            picture of 133px in width and 90px in height.
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!-- End Modal add rule information -->
<!--Modal box update feed -->
<button type="button" data-toggle="modal" data-target="#modal-updateFeed" id="modal_updateFeed"
        class="button_addfeed fc-addFeed-button fc-button fc-state-default fc-corner-left fc-corner-right"
        style="z-index: -1;position: fixed; opacity: 0;"></button>
<button type="button" data-toggle="modal" data-target="#modal-addPromo" id="modal_updatePromo"
        class="button_addfeed fc-addFeed-button fc-button fc-state-default fc-corner-left fc-corner-right"
        style="z-index: -1;position: fixed; opacity: 0;"></button>
