<h1 class="title text-wheat" id="title-home"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
  <div class="d-block mr-2 search-btn"><i class="fas fa-search text-white" alt="icon search" id="icon-search"
                                          (click)="getFunctionSearch(getdata.value)"></i></div>
  <div class="ui multiple search selection dropdown" id="multi-select">
    <input type="hidden" name="profile" #getdata>
    <div class="default text">Choose Device...</div>
    <div class="menu">
      <ng-container *ngFor="let item of allFunction">
        <div class="item" [attr.data-value]="item.id" [attr.data-color]="item.color" [id]="item.id">{{item.description}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="show-content-right mt-5 mr-4">
  <ul class="nav nav-tabs fontsize-panel" id="myTab" role="tablist">
    <li class="nav-item" (click)="setTitleLive()">
      <a class="nav-link active text-uppercase" id="live-tab" data-toggle="tab" href="#live" role="tab"
         aria-controls="home" aria-selected="false"> <i class="fas fa-eye mr-2"></i>LIVE
        <button class="audit d-inline-block btn btn-outline-info    text-center" title="Refresh Dashboard!"
                id="resfeshDashBoard"><i class="fas fa-sync-alt ico-profile"></i></button>
      </a>
    </li>
    <li class="nav-item" (click)="setTitleTimeZone()">
      <a class="nav-link text-uppercase" id="livechart-tab" data-toggle="tab" href="#livechart" role="tab"
         aria-controls="profile" aria-selected="true">LIVE CHART</a>
    </li>
    <li class="nav-item" (click)="setTitleTimeZone()">
      <a class="nav-link text-uppercase" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
         aria-controls="profile" aria-selected="true">OVERVIEW</a>
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>
  </ul>

  <div class="tab-content rounded" id="myTabContent">
    <div class="tab-pane fade show active h-100" id="live" role="tabpanel" style="overflow: hidden"
         aria-labelledby="live-tab">
      <!--Content tab-->
      <app-loading-waiting *ngIf="isLoading"></app-loading-waiting>
      <!--report-->
      <app-current-report></app-current-report>

      <div class="map w-100 text-center d-flex justify-content-center align-items-center h-100" id="map-office">
        <canvas id="myCanvas" width="1200" height="400"></canvas>
      </div>
      <!--End Map-->
      <!--End Content tab-->
    </div>
    <div class="tab-pane fade h-100" id="livechart" role="tabpanel" aria-labelledby="overview-tab">
      <div class="tab-pane p-3 fade active show" id="line1" role="tabpanel"
           aria-labelledby="line-tab">
        <div class="my-5 offset-2">
          <div class="head--left d-flex">
            <span class="bold-letter">VIEW BY </span>
            <section>
              <select id="select__func" class="cs-select cs-skin-underline">
                <option selected value="1">Hotspot</option>
                <option value="2">Detect</option>
                <option value="3">Detail</option>
              </select>
            </section>

          </div>
        </div>

        <div id="hotspot">
          <div class="chart1--body w-75 m-auto">
            <div id="container1"
                 style="min-width: 100%; height: 400px; margin: 0 auto"></div>
          </div>
        </div>

        <div id="detect">
          <div class="chart1--body w-75 m-auto">
            <div id="container2"
                 style="min-width: 100%; height: 400px; margin: 0 auto"></div>
          </div>
        </div>

        <div id="detail">
          <div class="chart1--body w-75 m-auto">
            <table class="table text-center w-100" id="dashboardtable">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Mac Address</th>
                <th scope="col">Location</th>
                <th scope="col">Time</th>
                <th scope="col">Device Type</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div style="text-align: right">
              <a id="table__prev" class='pr-2' style="color:#ff6700;cursor: pointer"><i
                class='fa fa-caret-left'></i></a>
              <span id="page_table"></span>
              <a id="table__next" class='pl-2' style="color:#ff6700;cursor: pointer"><i
                class='fa fa-caret-right'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--over view-->
    <div class="tab-pane p-3 fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="my-5 offset-2">
        <div class="head--left">
          <span class="bold-letter">VIEW BY DAY </span> &nbsp;
          <input type="text" class="text-uppercase" id="datepicker3"
                 style="background: transparent;color: #F05A29;font-size: 15px;border: none;border-bottom: 1.5px solid;width: 93px;text-align: center;">&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-down dropdate"></i>
          <input class="d-none" id="date__overview" value="<?=date('d-m-Y',strtotime('-1 day'))?>"/>
        </div>
      </div>
      <!--CHART-->
      <div class="chart1--body w-75 m-auto">
        <div id="container3"
             style="min-width: 100%; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
  </div>
</div>


<!--imformation one person-->
<div id="member-detail" class="sidenav w-100">
  <div class="sideBarSearch d-flex justify-content-end m-5">
    <a href="javascript:void(0)" class="closebtn d-inline-block text-secondary"
       onclick="closeNav('#member-detail')">×</a>
  </div>
  <div class="p-5">
    <div class="member-infor-detail row">
      <div class="col-12 d-flex justify-content-center"><img src="./assets/images/avatar_person.png"  alt="avatar" class="avatar mr-3 d-block"></div>
      <p class="name d-block font-weight-bold h1 m-0 col-12 text-center">{{infor.name}}</p>
    </div>
    <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
      <div class="col-6 title mr-4">Phone</div>
      <div class="col-6 dateofbirth bold">{{infor.phone}}</div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Device Type</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block" >{{infor.device_type}}</div>
      </div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Device Name</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block" >{{infor.device_name}}</div>
      </div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Tag</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block">{{infor.tag}}</div>
      </div>
    </div>
    <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMember"
         onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPerson(infor.id)">
      More Details
      <img class="ml-3" src="./assets/images/icon/ico_right_slide.png" alt="">
    </div>
    <!-- button Send Email-->
  </div>
</div>
<!--Modal Box detail porfile-->
<!--More Detail Profile modal box-->
<div class="detail-member modal fade modal_fade_insight" id="moreDetailInforMember" tabindex="-1" role="dialog"
     aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 m-4 pr-5">
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
          <span class="h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-100 p-0">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-4 left">
              <div class="p-5 border-right" style="font-family: KPMGBold;">
                <div class="member-infor-detail row">
                  <div class="col-12 d-flex justify-content-center"><img src="./assets/images/avatar_person.png"  alt="avatar" class="avatar mr-3 d-block"></div>
                  <p class="name d-block font-weight-bold h1 m-0 col-12 text-center">{{infor.name}}</p>
                </div>
                <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                  <div class="col-6 title mr-4">Phone</div>
                  <div class="col-6 dateofbirth bold">{{infor.phone}}</div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Device Type</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block" >{{infor.device_type}}</div>
                  </div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Device Name</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block" >{{infor.device_name}}</div>
                  </div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Tag</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block">{{infor.tag}}</div>
                  </div>
                </div>
                <!-- button Send Email-->
              </div>
            </div>
            <!--Right modal box detail profile-->
            <div class="col-8 right">
              <table class="table table-striped log_infor log_table" id="logTable">
                <thead>
                <tr>
                  <!--<img src="./assets/images/icon/ico_sort.png" alt="">-->
                  <th scope="col">Day</th>
                  <th scope="col">Time In</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let log of logs ">
                  <td>{{log.date}}</td>
                  <td>{{log.timestamp}}</td>
                  <td class="text-capitalize">{{log.location}}</td>
                  <td class="text-capitalize"><span *ngIf="log.status == 1"><i class="fas fa-wifi"></i></span>
                    <span *ngIf="log.status == 2"><img style="width:17px;height:17px;border: none;" src="./assets/images/icon_none_wifi.png"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--End right modal box detail profile-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--More Detail Profile modal box-->

<!--Box Send Mail-->
<div class="modal fade modal_fade_insight" id="modal-mail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modalbox-email-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Mail</h4>
      </div>
      <div class="modal-body">
        <textarea name="editor2" class="w-100" #description id="editor1"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
      </div>
    </div>
  </div>
</div>
<!--Box Send Mail-->
