<h1 class="title text-wheat"> {{title}}</h1>
<div class="content-top d-flex align-content-center">
  <div class="d-block mr-2 search-btn"><i class="fas fa-search text-white" alt="icon search" id="icon-search"
                                          (click)="getFunctionSearch(getdata.value)"></i></div>
  <div class="ui multiple search selection dropdown" id="multi-select">
    <input type="hidden" name="profile" #getdata>
    <div class="default text">Choose Device...</div>
    <div class="menu">
      <ng-container *ngFor="let item of allFunction">
        <div class="item" [attr.data-value]="item.id" [attr.data-color]="item.color" [id]="item.id">{{item.description}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="show-content-right mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-uppercase active fontsize-panel " id="overview-tab" data-toggle="tab" href="#overview"
         role="tab" aria-controls="profile" aria-selected="true">OVERVIEW</a>
    </li>
    <li class="position-absolute" style="right:10px;top:-10px;">
      <app-chat></app-chat>
    </li>

  </ul>
  <div class="tab-content rounded" id="myTabContent">
    <app-loading-waiting *ngIf="isLoadingStaff"></app-loading-waiting>
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <div class="content-table" id="content-table">
        <div>
          <div style="width: 95%;display: inline-block">
            <table class="table w-100 pl-3" style="margin-top: 10px;" id="table">
              <thead>
              <tr>
                <th style="padding-left: 65px;font-size: 13px">Name</th>
                <!-- <th>DOB </th>-->
                <th>Phone</th>
                <th>Mac Adress</th>
                <th>Device type</th>
                <th>Device name</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <div style="" class="navigation-table-content" id="navigation_customer">
            <a class="caret next"><i style="font-size: 20px;float: right; color: #f0c9d6"
                                     class="fa fa-caret-right ic_next next_hover"></i></a>
            <span class="pagin" style="float: right;margin: 0px 10px 0px">Page 1 of 1</span>
            <a class="caret prev"><i style="font-size: 20px;float: right; color: #f0c9d6;"
                                     class="fa fa-caret-left ic_prev"></i></a>
            <br>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>
  <button id="ShowDetail" (click)="ShowDetail()" style="width:0px;height: 0px;opacity: 0"></button>
  <input type="hidden" id="hidId"/>
  <div class="modal fade" id="modal-mail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Mail</h4>
        </div>
        <div class="modal-body">
          <textarea name="editor1" class="w-100" #description id="editor1"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!--Detail person-->
<div id="member-detail" class="sidenav w-100">
  <div class="sideBarSearch d-flex justify-content-end m-5">
    <a class="closebtn d-inline-block text-secondary" style="cursor: pointer" onclick="closeNav('#member-detail')">×</a>
  </div>
  <div class="p-5">
    <div class="member-infor-detail row">
      <div class="col-12 d-flex justify-content-center"><img src="./assets/images/avatar_person.png"  alt="avatar" class="avatar mr-3 d-block"></div>
      <p class="name d-block font-weight-bold h1 m-0 col-12 text-center">{{infor.name}}</p>
    </div>
    <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
      <div class="col-6 title mr-4">Phone</div>
      <div class="col-6 dateofbirth bold">{{infor.phone}}</div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Device Type</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block" >{{infor.device_type}}</div>
      </div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Device Name</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block">{{infor.device_name}}</div>
      </div>
    </div>
    <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
      <div class=" col-6 title mr-4">Tag</div>
      <div class="col-6 list-number d-inline-block">
        <div class="number bold d-block">{{infor.tag}}</div>
      </div>
    </div>
    <div class="more-detail-lg text-uppercase mt-5 h5" data-toggle="modal" data-target="#moreDetailInforMemberStaff"
         onclick="closeNav('#member-detail')" style="font-size: 14px;" (click)="getLogPersonStaff(infor.id)">
      More Details
      <img class="ml-3" src="./assets/images/icon/ico_right_slide.png" alt="">
    </div>
    <!-- button Send Email-->

  </div>
</div>
<!--More Detail Profile modal box-->
<div class="detail-member modal fade modal_fade_insight" id="moreDetailInforMemberStaff" tabindex="-1" role="dialog"
     aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 m-4 pr-5">
        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
          <span class="h1" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h-100 p-0">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-4 left">
              <div class="p-5 border-right" style="font-family: KPMGBold;">
                <div class="member-infor-detail row">
                  <div class="col-12 d-flex justify-content-center"><img src="./assets/images/avatar_person.png"  alt="avatar" class="avatar mr-3 d-block"></div>
                  <p class="name d-block font-weight-bold h1 m-0 col-12 text-center">{{infor.name}}</p>
                </div>
                <div class="col-12 dob py-3 contact-detail mt-4 h4 d-flex justify-content-center">
                  <div class="col-6 title mr-4">Phone</div>
                  <div class="col-6 dateofbirth bold">{{infor.phone}}</div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Device Type</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block" >{{infor.device_type}}</div>
                  </div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Device Name</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block" >{{infor.device_name}}</div>
                  </div>
                </div>
                <div class="col-12 contact py-3 contact-detail h4 d-flex justify-content-center">
                  <div class=" col-6 title mr-4">Tag</div>
                  <div class="col-6 list-number d-inline-block">
                    <div class="number bold d-block">{{infor.tag}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!--Right modal box detail profile-->
            <div class="col-8 right">
              <table class="table table-striped color-table log_inforlog_infor" id="logTable">
                <thead>
                <tr>
                  <!--<img src="./assets/images/icon/ico_sort.png" alt="">-->
                  <th scope="col">Day</th>
                  <th scope="col">Time In</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let log of logs ">
                  <td>{{log.date}}</td>
                  <td>{{log.timestamp}}</td>
                  <td class="text-capitalize">{{log.location}}</td>
                  <td class="text-capitalize "><span *ngIf="log.status == 1"><i class="fas fa-wifi"></i></span>
                    <span *ngIf="log.status == 2"><img style="width:17px;height:17px;border: none;" src="./assets/images/icon_none_wifi.png"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--End right modal box detail profile-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--More Detail Profile modal box-->
