<div class="current-report pt-2 ml-4  d-inline-block p-3" *ngIf="currentTotal">
  <div class="current-time d-inline mr-3" >{{currentTotal.time}}</div>
  <button class="current-total bg-dark d-inline-block text-white mr-3 py-1 rounded border-0" style="cursor: pointer;"  id="current-people"   >CURRENT: {{currentTotal.sum}}</button>
  <div class="current-detail d-inline">
  <ng-container *ngFor="let item of currentTotal.live">
      <div class="audit d-inline-block mr-5"><i class="fas fa-circle ico-profile mr-2" [style.color]="item.color" (click)="getOneFunction(item.title)" title="{{item.title}}" ></i>{{item.count}}</div>
   </ng-container>
   </div>
</div>

        <!--end List profile-->
<!--More Detail Profile modal box-->
        <div class="detail-member modal fade" id="moreDetailInforMemberCurrent" tabindex="-1" role="dialog" aria-labelledby="moreDetailInforMemberTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 m-4 pr-5">
                        <button type="button" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <span class="h1" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body h-100 p-0">
                        <div class="container-fluid h-100">
                            <div class="row h-100">
                                <div class="col-4 left">
                                    <div class="p-5 border-right" style="font-family: KPMGBold">
                                        <div class="member-infor-detail d-flex" >
                                            <img src="{{infor.file}}" alt="Avatar Mr-bean" class="avatar mr-4" [style.border-color]="infor.color">
                                            <div class="more-detail text-left">
                                                <span class="profile title-profile d-block h4 m-0" data-profile="tax" [style.color]="infor.color">{{infor.office_location}}</span>
                                                <div class="name d-block font-weight-bold h1 m-0">{{infor.name}}</div>
                                                <span class="position d-block h4 m-0">{{infor.department}} / {{infor.person_id}}</span>
                                                <span class="sub-name h4 m-0">{{infor.email}}</span>
                                            </div>
                                        </div>

                                          <div class="dob py-3 contact-detail mt-4 h4">
                                                    <div class="title mr-4">DOB</div>
                                                    <div class="dateofbirth bold">{{infor.birthday}}</div>
                                                </div>
                                                <div class="contact py-3 contact-detail h4">
                                                    <div class="title mr-4">Contact</div>
                                                    <div class="list-number d-inline-block bold">
                                                        <div class="number d-block">{{infor.contact_no}}</div>

                                                    </div>
                                                </div>


                                        <div class="top-favorite mt-4">
                                            <div class="my-4 favarite-title h4" data-profile="tax" [style.color]="infor.color" >Top 3 Favorite Zones</div>
                                             <!-- each favorite -->
                                               <ng-container *ngFor="let fv of infor.topzone">
                                               <div class="each-favorite d-flex align-items-center h5">
                                                   <div class="title">{{fv.name}}</div>
                                                   <div class="progress-bar mr-2" [style.width.px]="fv.percent" data-profile="tax" [style.background]="infor.color"></div>
                                                   <span class="number-percent" data-profile="tax" [style.color]="infor.color">{{fv.percent}} %</span>
                                               </div>
                                               <!-- each favorite -->
                                             </ng-container>

                                        </div>
                                        <!-- button Send Email-->
                                        <button class="btn btn-email btn-lg w-100 font-weight-bold" (click)="getEmail(infor.email)" data-toggle="modal" data-target="#modal-mail-current">Email</button>
                                        <!-- button Send Email-->
                                    </div>
                                </div>
                                <!--Right modal box detail profile-->
                                <div class="col-8 right">
                                    <table class="table table-striped log_table" id="logs-current">
                                        <thead>
                                        <!-- <img src="./assets/images/icon/ico_sort.png" alt="">-->
                                            <tr>
                                                <th scope="col">Day</th>
                                                <th scope="col">Time In</th>
                                                <th scope="col">Zones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let log of logs ">
                                                <td scope="row">{{log.ngay}}</td>
                                                <td>{{log.gio}}</td>
                                                <td class="text-capitalize">{{log.zone_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End right modal box detail profile-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--More Detail Profile modal box-->

        <!--Box Send Mail-->
  <div class="modal fade" id="modal-mail-current">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header" id="modalbox-email-header-current">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">New Mail</h4>
                  </div>
                  <div class="modal-body">
                      <textarea name="editor1" class="w-100" #description id="editor1"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="send-mail" (click)="sendMail(description)">Send</button>
                  </div>
              </div>
          </div>
      </div>
     <!--Box Send Mail-->
